In [1]:
import pyspark
import pandas as pd
#import datefinder
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import re   
import seaborn as sns
import statsmodels.api as sm
#from statsmodels.tsa.arima_model import ARIMA, ARIMAResults
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import acf, pacf, kpss
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose
import datetime
from fbprophet import Prophet
import pmdarima as pm
from pmdarima.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import requests
from pyspark.sql.types import *
import math
from threading import Thread
import time
from pyspark.sql.functions import collect_list, struct, to_timestamp

Importing plotly failed. Interactive plots will not work.

In [2]:
sc = pyspark.SparkContext(appName="Spark RDD")

In [3]:
#Remove tuple with len !=14
def RemoveStrangeTupleLen(tup):
    if len(tup)==14:
        return tup
    
#CLEANING MAC_ADDRESS_SRC FIELD
def RemoveQuoteSrc(tup):
    if tup[0][0]=='"':
        tup[0]=tup[0][1:]
    return tup

def RemoveWeirdAddress(tup):
    if len(tup[0])>17:
        tup[0]=None
    return tup

#CLEANING CAT FIELD
def CATToInt(tup): 
    tup[1] = int(tup[1])
    return tup

#CLEANING TID FIELD
def replaceNullValue_TID(tup):
    if tup[2] != '' and tup[2] != None and tup[2] != 'NaN': 
        return tup
    else: 
        tup[2] = ''
        return tup
    
#CLEANING TS FIELD
def TSToFloat(tup): 
    tup[3] = float(round(float(tup[3])))
    return tup

#CLEANING DST FIELD
#None

#CLEANING SAC FIELD
def replaceNullValue_SAC(tup):
    if tup[5] != '' and tup[5] != None and tup[5] != 'NaN': 
        tup[5] = float(tup[5])
        return tup
    else: 
        tup[5] = None
        return tup

#CLEANING SIC FIELD
def replaceNullValue_SIC(tup):
    if tup[6] != '' and tup[6] != None and tup[6] != 'NaN': 
        tup[6] = float(tup[6])
        return tup
    else: 
        tup[6] = None
        return tup
    
#CLEANING ToD FIELD
def replaceNullValue_ToD(tup):
    if tup[7] != '' and tup[7] != None and tup[7] != 'NaN': 
        tup[7] = float(tup[7])
        return tup
    else: 
        tup[7] = None
        return tup

#CLEANING TN FIELD
def replaceNullValue_TN(tup):
    if tup[8] != '' and tup[8] != None and tup[8] != 'NaN': 
        tup[8] = float(tup[8])
        return tup
    else: 
        tup[8] = None
        return tup

#CLEANING THETA FIELD
def replaceNullValue_THETA(tup):
    if tup[9] != '' and tup[9] != None and tup[9] != 'NaN': 
        tup[9] = float(tup[9])
        return tup
    else: 
        tup[9] = None
        return tup

#CLEANING RHO FIELD
def replaceNullValue_RHO(tup):
    if tup[10] != '' and tup[10] != None and tup[10] != 'NaN': 
        tup[10] = float(tup[10])
        return tup
    else: 
        tup[10] = None
        return tup
    
#CLEANING FL FIELD 
def replaceNullValue_FL(tup):
    if tup[11] != '' and tup[11] != None and tup[11] != 'NaN': 
        tup[11] = float(tup[11])
        return tup
    else: 
        tup[11] = None
        return tup
    
#CLEANING CGS FIELD
def replaceNullValue_CGS(tup):
    if tup[12] != '' and tup[12] != None and tup[12] != 'NaN': 
        tup[12] = float(tup[12])
        return tup
    else: 
        tup[12] = None
        return tup
    
#CLEANING CHdg FIELD
    
def replaceNullValue_CHdg(tup):
    if tup[13] != '' and tup[13] != None and tup[13] != 'NaN': 
        tup[13] = float(tup[13])
        return tup
    else: 
        tup[13] = None
        return tup
    
def RemoveQuoteCHdg(tup):
    if tup[13][-1]=='"':
        tup[13]=tup[13][:-1]
    return tup


def cleaning(tup):
    tup = RemoveQuoteSrc(tup)
    tup = RemoveWeirdAddress(tup)
    tup = CATToInt(tup)
    tup = replaceNullValue_TID(tup)
    tup = TSToFloat(tup)
    tup = replaceNullValue_SAC(tup)
    tup = replaceNullValue_SIC(tup)
    tup = replaceNullValue_ToD(tup)
    tup = replaceNullValue_TN(tup) 
    tup = replaceNullValue_THETA(tup)
    tup = replaceNullValue_RHO(tup)
    tup = replaceNullValue_FL(tup)
    tup = replaceNullValue_CGS(tup)
    tup = replaceNullValue_CHdg(RemoveQuoteCHdg(tup))
    return tup
    
def main_clean(rdd):
    
    #header = rdd.first()
    #rdd = rdd.filter(lambda line: line != header)
    #rdd = rdd.map(lambda tup: RemoveStrangeTupleLen(tup))\
    #         .filter(lambda tup: tup!=None)
             
    rdd = rdd.map(lambda tup: cleaning(tup))
    return(rdd)

In [4]:
# we first need to import types (e.g. StructType, StructField, IntegerType, etc.)
from pyspark.sql.types import *

def getlistavion(): 
    QUERY = 'SELECT DISTINCT(TID) FROM global_temp.traffic'
    return spark.sql(QUERY).toPandas()

def main_db(rdd): 
    global traffic_df_explicit, trafficSchema, spark  
    
    traffic_df_explicit_aux = spark.createDataFrame(rdd, trafficSchema)
    traffic_df_explicit = traffic_df_explicit.unionAll(traffic_df_explicit_aux)       
    
    traffic_df_explicit.createOrReplaceGlobalTempView('traffic')
    
    traffic_df_explicit.cache()
    
    #Queries
    #spark.sql("select TID, DST, COUNT(*) from global_temp.traffic WHERE TID != '' GROUP BY TID, DST ORDER BY COUNT(*) DESC").show()
    #spark.sql("select * from global_temp.traffic").show()

#main_db(rdd_traffic_clean)

In [5]:
def transform_data_m(row):
    """Transform data from pyspark.sql.Row to python dict to be used in rdd."""
    data = row['data']
    tid = row['TID']
    dst = row['DST']
    
    # Transform [pyspark.sql.Dataframe.Row] -> [dict]
    data_dicts = []
    for d in data:
        data_dicts.append(d.asDict())

    # Convert into pandas dataframe for fbprophet
    data = pd.DataFrame(data_dicts)
    data['ds'] = pd.to_datetime(data['ds'], unit='s')

    return {
        'tid' : tid,
        'dst' : dst,
        'data': data,
    }

In [6]:
def partition_data_m(d):
    """Split data into training and testing based on timestamp."""
    # Extract data from pd.Dataframe
    data = d['data']

    # Find max timestamp and extract timestamp for start of day
    max_datetime = max(data['ds'])
    #start_datetime = max_datetime.replace(hour=00, minute=00, second=00)

    # Extract training data
    train_data = data[data['ds'] <= max_datetime]

    # Account for zeros in data while still applying uniform transform
    #train_data['y'] = train_data['y'].apply(lambda x: np.log(x + 1))

    # Assign train/test split
    #d['test_data'] = data.loc[(data['ds'] < start_datetime)
    #                          & (data['ds'] <= max_datetime)]
    d['train_data'] = train_data

    return d

In [7]:
def create_model_m(d):
    """Create Prophet model using each input grid parameter set."""
    m = Prophet()
    d['model'] = m

    return d

In [8]:
def train_model_m(d):
    """Fit the model using the training data."""
    model = d['model']
    train_data = d['train_data']
    model.fit(train_data)
    d['model'] = model

    return d

In [9]:
def make_forecast_m(d):
    """Execute the forecast method on the model to make future predictions."""
    model = d['model']
    future = model.make_future_dataframe(
        periods=10, freq='4s')
    
    forecast = model.predict(future)
    d['forecast'] = forecast

    return d

In [10]:
def reduce_data_scope_m(d):
    """Return a tuple (app + , + metric_type, {})."""
    return (
        d['tid'] + ',' + d['dst'],
        {
            'forecast': pd.concat([d['train_data']['y'],d['forecast']], axis=1),  
        },
    )

In [11]:
def expand_predictions_m(d):
    tid_dst, data = d
    tid, dst = tid_dst.split(',')
    return [
        (
            tid, 
            dst,
            #p['ds'].strftime("%d-%b-%Y (%H:%M:%S)"),
            time.mktime(datetime.datetime.strptime(p['ds'].strftime("%d-%b-%Y (%H:%M:%S)"), "%d-%b-%Y (%H:%M:%S)").timetuple()),
            p['y'] if not(math.isnan(p['y'])) else None,
            p['yhat'],
            p['yhat_lower'],
            p['yhat_upper'],
        ) for i, p in data['forecast'].iterrows()
    ]

TEST

In [15]:
df_for_m

NameError: name 'df_for_m' is not defined

In [30]:
traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit['CHDG'].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\
                       .take(1)

[('DSO05LM ',
  '01:00:5e:50:01:42',
  1556976196.0,
  212.135009766,
  204.8759526446152,
  199.02782570616563,
  210.19036063617773)]

In [139]:
traffic_for_m = traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit['CHdg'].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\

traffic_for_m.cache()

df_for_m = spark.createDataFrame(traffic_for_m, schema_for_m)

In [140]:
test = df_for_m.filter(" y IS NULL").collect()

'''
for line in test:
    print(line)
    insert_table('CHDG', connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                 yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])

disconnect('activus')
'''

"\nfor line in test:\n    print(line)\n    insert_table('CHDG', connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', \n                 yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])\n\ndisconnect('activus')\n"

In [36]:
float(test[0][2])

1556976227.0

In [29]:
def pred(var):
    
    global traffic_df_explicit, spark, schema_for_m
    
    traffic_for_m = traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit[var].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\
        
    traffic_for_m.cache()
        
    df_for_m = spark.createDataFrame(traffic_for_m, schema_for_m)
            
    #thread
            
    TH = Thread(target = forecast_from_spark, args=(df_for_m,var))
    TH.start()

In [ ]:
#test = df_for_m.select('*').collect()

In [ ]:
#test[5][3] if test[5][3] != None else 'NULL'

In [41]:
def forecast_from_spark(df, var):
     #pas de show mais un filter sur les y == NAN pour n'envoyer que les forecast pour ces valeurs mais pas les anciennes
    #df.show()
    #df_for_m.filter(" y == 'NaN'").show() et et transformer y en cgs
    #print(df.select('*').withColumnRenamed('y', var).show())
    
    #envoie de y et de la prédiction 
    i = 0
    for line in df.filter(" y IS NULL").collect():

        if (i < 5):
            print("update line" + line)
            update_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                 yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])
            
            i = i + 1
            
        else: 
            print("insert line" + line)
            insert_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                 yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])
        
    
    #disconnect('activus')

    #pour chaque ligne du df 
        #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)

In [157]:
def update_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper):
    TID_AUX = '\'%' + str(tid).strip() + '%\'' 
    DST_AUX = '\'%' + str(dst).strip() + '%\'' 
    
    '''
    print("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower)
        + " WHERE (DS = " + str(float(ds)) + " OR DS = " + str(float(ds) - 1) + 
        " OR DS = " + str(float(ds) + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        TID_AUX + " AND LTRIM(RTRIM(DST)) LIKE " + DST_AUX + ";")
    
    '''
    cur = conn.cursor()
    cur.execute("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower)
        + " WHERE (DS = " + str(float(ds)) + " OR DS = " + str(float(ds) - 1) + 
        " OR DS = " + str(float(ds) + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        TID_AUX + " AND LTRIM(RTRIM(DST)) LIKE " + DST_AUX + ";")   
    conn.commit()

In [145]:
test[0]

Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976282E9', y=None, yhat=190.21420288085938, yhat_lower=187.2348175048828, yhat_upper=193.08021545410156)

In [153]:
test[0][0]

'DSO05LM '

In [156]:
update_table("CGS", '', tid=test[0][0], dst=test[0][1], ds=test[0][2] , y='NULL', 
                 yhat=test[0][4], yhat_lower=test[0][5], yhat_upper=test[0][6])

UPDATE CGS SET yhat = 190.21420288085938, yhat_lower = 187.2348175048828, yhat_upper =  187.2348175048828 WHERE (DS = 1556976282.0 OR DS = 1556976281.0 OR DS = 1556976283.0) AND y is NULL AND LTRIM(RTRIM(TID)) LIKE '%DSO05LM%' AND LTRIM(RTRIM(DST)) LIKE '%01:00:5e:50:01:42%';

In [138]:
update_table("CGS", '', 'AAAAAA', '00:00:00:00:00', 1500000, 0, 0, 0, 0)

UPDATE CGS SET yhat = 0, yhat_lower = 0, yhat_upper =  0 WHERE (DS = 1500000 OR DS = 1499999 OR DS = 1500001) AND y is NULL AND LTRIM(RTRIM(TID)) LIKE '%AAAAAA%' AND LTRIM(RTRIM(DST)) LIKE '%00:00:00:00:00%';

In [125]:
def forecast_from_spark(df, var):
    df.show()

In [126]:
def info_sup_traffic(ts_courant):
   # -> nombre d'avions qui volent en temps réel

  print('nombre avions courants : ' + str(spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS > ' 
          + str(float(ts_courant) - 10) + ' ORDER BY TS DESC').distinct().count()))

   # -> nombre de radars qui sont en train de les visualiser 

  print('nombre radars courants : ' + str(spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS > ' 
          + str(float(ts_courant) - 10) + ' ORDER BY TS DESC').distinct().count()))
    
   # -> nombre de paquets reçus par minute 

  print('nombre de paquets reçus par minute : ' + str(spark.sql('select * from global_temp.traffic WHERE TS > ' 
          + str(float(ts_courant) - 60) + ' ORDER BY TS DESC').count()))

In [127]:
spark = pyspark.sql.SparkSession.builder.appName("Spark-Dataframe-SQL").getOrCreate()

trafficSchema = StructType ( [StructField("SRC", StringType(), True),
                                 StructField("CAT", LongType(), True),
                                 StructField("TID", StringType(), True),
                                 StructField("TS", DoubleType(), True),
                                 StructField("DST", StringType(), True),
                                 StructField("SAC", DoubleType(), True),
                                 StructField("SIC", DoubleType(), True),
                                 StructField("ToD", DoubleType(), True),
                                 StructField("TN", DoubleType(), True),
                                 StructField("THETA", DoubleType(), True),
                                 StructField("RHO", DoubleType(), True),
                                 StructField("FL", DoubleType(), True),
                                 StructField("CGS", DoubleType(), True),
                                 StructField("CHdg", DoubleType(), True),
                             ] )
    
traffic_df_explicit = spark.createDataFrame(spark.sparkContext.emptyRDD(),trafficSchema)
traffic_df_explicit.createOrReplaceGlobalTempView('traffic')

schema_for_m = StructType([
        StructField("tid", StringType(), True),
        StructField("dst", StringType(), True),
        StructField("ds", StringType(), True),
        StructField("y", FloatType(), True),
        StructField("yhat", FloatType(), True),
        StructField("yhat_lower", FloatType(), True),
        StructField("yhat_upper", FloatType(), True),
    ])
    
list_aux = [] 
cmpt_tram = 0        

response = requests.get('http://192.168.37.142:50005/stream/2019-05-04-12:00:00/2019-05-04-16:00:00', stream=True)
#type(response)

#Faire la même chose pour chdg et fl 
#create_table(table_name="cgs", parameters="tid STRING, dst STRING, \
#             ds STRING, y FLOAT, yhat FLOAT, yhat_lower FLOAT, yhat_upper FLOAT", database_name="activus"):

i = 0

for data in response.iter_lines():
    #print(data.decode("UTF-8"))  
    #print(str(data)[1:])
    i = i + 1
    #print(i)
    #print([data.decode("UTF-8").split(",")]) 
    #print(data.decode("UTF-8").split(","))
    
    ligne = data.decode("UTF-8").split(",")
    list_aux.append(ligne)
    
      
    #prédire lorsque j'ai 5 nouveaux paquets pour un avion considere et un radar considere 
    #-> prediction 
    #ligne[2] : TID
    #ligne[4] : DST
    
    #Pour l'avion et le radar considere
    if('DSO05LM' in ligne[2] and '01:00:5e:50:01:42' in ligne[4]):
        #compteur pour le nombre de tram   
        print(ligne)
        
        #print(compt_tram)
        
        rdd_traffic = sc.parallelize(list_aux)
        rdd_traffic_clean = main_clean(rdd_traffic)
        
        #print(rdd_traffic_clean.collect())
        main_db(rdd_traffic_clean) 
        
        #faire un show pour un envoi en temps réel à la base de données sql
        
        cmpt_tram += 1 
        list_aux = []
        
        #info courante 
        
        TH_current = Thread(target =  info_sup_traffic, args=(ligne[3],))
        TH_current.start()
        
    #time series 
       
        #envoie de la prédiction toutes les 5 trams
        if(cmpt_tram==5):
            
            #faire la prédiction sur la variable de son choix 
            #pred(traffic_df_explicit, var='CGS')
            #pred(traffic_df_explicit, var='CHdg')
            #pred(traffic_df_explicit, var='FL')
            
            #pred(spark, traffic_df_explicit, schema_for_m)
            
            #pred(var='CGS')
            pred(var='CHDG')
            #pred(var='FL')
         
            '''
            traffic_for_m = traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit['CGS'].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\
        
            traffic_for_m.cache()
        
            df_for_m = spark.createDataFrame(traffic_for_m, schema_for_m)
            
            #thread
            
            TH = Thread(target = forecast_from_spark, args=(df_for_m,))
            TH.start()
            
            #TH = Thread(target = forecast_from_spark)
            
                     
            #pas de show mais un filter sur les y == NAN pour n'envoyer que les forecast pour ces valeurs mais pas les 
            #anciennes
            #df_for_m.show()
            #envoie de y et de la prédiction 
            #pour chaque ligne du df 
                #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)           
            ###
            
            '''
            #Réinitialisation du compteur
            cmpt_tram=0
            
        #Envoie de y
        #clean et envoi de la ligne à la volée
        
        #['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976195.58', '01:00:5e:50:01:42', '8', '80', '48194.625', '1253', '349.738769531', '10.65234375', '79.5', '300.366210938', '212.135009766']
        
        tid = ligne[2]
        dst = ligne[4]
        ds = str(float(round(float(ligne[3]))))   
        src = ligne[0]
        cat = int(ligne[1])
        sac = float(ligne[5])
        sic = float(ligne[6])
        toD = ligne[7]
        tn = float(ligne[8])
        theta = float(ligne[9])
        rho = float(ligne[10])
        FL = float(ligne[11])
        CGS = float(ligne[12])
        CHdg = float(ligne[13])
        yhat = None 
        yhat_lower = None
        yhat_upper = None
        
        #d = {'tid': [tid], 'dst': [dst], 'ds': [ds], 'y': [y], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}
        
            #spark.createDataFrame(traffic_for_m, schema_for_m).show()
        
        #print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'FL': [FL], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        #print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CGS': [CGS], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        
        #print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CHdg': [CHdg], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'src':[src], 'cat':[cat], 'sac':[sac], 
                                 'sic':[sic], 'tod':[toD], 'tn':[tn], 'theta':[theta], 'rho':[rho], 
                                 'fl':[FL], 'cgs':[CGS], 'chdg':[CHdg]}))
        
        #insert_table('CHDG', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=CHdg, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        #insert_table('CGS', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=CGS, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        #insert_table('FL', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=FL, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        #insert_table_fields('FIELDS', connect(database_name='activus'), tid=tid, dst=dst, ds=ds, src=src, cat=cat, sac=sac, 
        #                    sic=sic, tod=toD, tn=tn, theta=theta, rho=rho, fl=FL, cgs=CGS, chdg=chdg)
        
    '''            
    def insert_table_fields(table_name, conn, tid, dst, ds, src, cat, sac, sic, tod, tn, theta, rho, fl, cgs, chdg):
        cur = conn.cursor()
        #print("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
        cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + 
        str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', '\'' + str(src) + '\'', cat, sac, sic, 
        '\'' + str(tod) + '\'', tn, theta, rho, fl, cgs, chdg))
        #cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, tid, dst, ds, float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
        conn.commit()
    '''
        
        #disconnect('activus')
        
            #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)
            
    #nombre d'avion en fonction d'une période de temps 
            
    
    if(not(i%1000)):
        print(i)
        
    if (i==100000): break

['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976195.58', '01:00:5e:50:01:42', '8', '80', '48194.625', '1253', '349.738769531', '10.65234375', '79.5', '300.366210938', '212.135009766']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976196.0  00:23:9c:c1:94:5f   48  8.0

    sic        tod      tn      theta        rho    fl         cgs       chdg
0  80.0  48194.625  1253.0  349.73877  10.652344  79.5  300.366211  212.13501
nombre avions courants : 189
1000
nombre radars courants : 19
nombre de paquets reçus par minute : 297
2000
3000
4000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976199.49', '01:00:5e:50:01:42', '8', '80', '48198.5625', '1253', '348.711547852', '10.37890625', '79.5', '303.662109375', '195.485229492']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976199.0  00:23:9c:c1:94:5f   48  8.0

    sic         tod      tn       theta        rho    fl         cgs  \
0  80.0  48198.5625  1253.0  348.711548  10.378906  79.5  303.662109

         chdg
0  195.485229
5000
nombre avions courants : 1030
nombre radars courants : 23
nombre de paquets reçus par minute : 4890
6000
7000
8000
9000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976203.44', '01:00:5e:50:01:42', '8', '80', '48202.515625', '1253', '347.750244141', '10.09375', '79.75', '305.419921875', '197.775878906']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976203.0  00:23:9c:c1:94:5f   48  8.0

    sic           tod      tn       theta       rho     fl         cgs  \
0  80.0  48202.515625  1253.0  347.750244  10.09375  79.75  305.419922

         chdg
0  197.775879
10000
nombre avions courants : 1086
nombre radars courants : 23
11000
nombre de paquets reçus par minute : 9509
12000
13000
14000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976207.41', '01:00:5e:50:01:42', '8', '80', '48206.4765625', '1253', '346.849365234', '9.8046875', '80.0', '301.245117188', '196.391601562']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976207.0  00:23:9c:c1:94:5f   48  8.0

    sic            tod      tn       theta       rho    fl         cgs  \
0  80.0  48206.4765625  1253.0  346.849365  9.804688  80.0  301.245117

         chdg
0  196.391602
nombre avions courants : 1084
15000
nombre radars courants : 23
nombre de paquets reçus par minute : 14163
16000
17000
18000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976211.36', '01:00:5e:50:01:42', '8', '80', '48210.421875', '1253', '345.992431641', '9.51171875', '81.25', '300.5859375', '193.172607422']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976211.0  00:23:9c:c1:94:5f   48  8.0

    sic           tod      tn       theta       rho     fl         cgs  \
0  80.0  48210.421875  1253.0  345.992432  9.511719  81.25  300.585938

         chdg
0  193.172607
19000
nombre avions courants : 1082
20000
nombre radars courants : 23
nombre de paquets reçus par minute : 18813
21000
22000
23000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976215.31', '01:00:5e:50:01:42', '8', '80', '48214.375', '1253', '345.184936523', '9.2109375', '83.0', '303.22265625', '182.823486328']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976215.0  00:23:9c:c1:94:5f   48  8.0

    sic        tod      tn       theta       rho    fl         cgs        chdg
0  80.0  48214.375  1253.0  345.184937  9.210938  83.0  303.222656  182.823486
24000
25000
26000
nombre avions courants : 1082
27000
nombre radars courants : 23
nombre de paquets reçus par minute : 23454
28000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976219.29', '01:00:5e:50:01:42', '8', '80', '48218.3359375', '1253', '344.421386719', '8.90625', '85.5', '306.298828125', '184.844970703']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976219.0  00:23:9c:c1:94:5f   48  8.0

    sic            tod      tn       theta      rho    fl         cgs  \
0  80.0  48218.3359375  1253.0  344.421387  8.90625  85.5  306.298828

         chdg
0  184.844971
29000
+--------+-----------------+-------------+---------+---------+----------+----------+
|     tid|              dst|           ds|        y|     yhat|yhat_lower|yhat_upper|
+--------+-----------------+-------------+---------+---------+----------+----------+
|DSO05LM |01:00:5e:50:01:42|1.556976196E9|212.13501|205.71796| 200.10567| 211.43481|
|DSO05LM |01:00:5e:50:01:42|1.556976199E9|195.48523|202.90948| 197.45435| 208.37866|
|DSO05LM |01:00:5e:50:01:42|1.556976203E9|197.77588|199.17265| 193.31409| 205.15756|
|DSO05LM |01:00:5e:50:01:42|1.556976207E9| 196.3916|195.43582| 189.25504| 201.32819|
|DSO05LM |01:00:5e:50:01:42|1.556976211E9| 193.1726|191.69899| 186.06569| 197.25377|
|DSO05LM |01:00:5e:50:01:42|1.556976215E9|     null|187.96216| 182.37029| 193.56642|
|DSO05LM |01:00:5e:50:01:42|1.556976219E9|     null|184.22533| 178.29285| 189.91466|
|DSO05LM |01:00:5e:50:01:42|1.556976223E9|     null| 180.4885| 174.71396| 186.22462|
|DSO05LM |01:00:5e:50:01:42|1.556976227E9|     null|176.75166| 170.82169| 182.67175|
|DSO05LM |01:00:5e:50:01:42|1.556976231E9|     null|173.01485| 167.37793| 178.79492|
|DSO05LM |01:00:5e:50:01:42|1.556976235E9|     null|169.27802| 163.39789| 174.86946|
|DSO05LM |01:00:5e:50:01:42|1.556976239E9|     null|165.54118| 159.54753| 171.16104|
|DSO05LM |01:00:5e:50:01:42|1.556976243E9|     null|161.80435| 156.70045| 167.74892|
|DSO05LM |01:00:5e:50:01:42|1.556976247E9|     null|158.06752| 152.19847| 163.74614|
|DSO05LM |01:00:5e:50:01:42|1.556976251E9|     null|154.33069| 148.16844| 160.19608|
+--------+-----------------+-------------+---------+---------+----------+----------+

30000
nombre avions courants : 1078
nombre radars courants : 23
nombre de paquets reçus par minute : 28019
31000
32000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976223.23', '01:00:5e:50:01:42', '8', '80', '48222.28125', '1253', '343.591918945', '8.60546875', '87.75', '307.397460938', '185.872192383']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976223.0  00:23:9c:c1:94:5f   48  8.0

    sic          tod      tn       theta       rho     fl         cgs  \
0  80.0  48222.28125  1253.0  343.591919  8.605469  87.75  307.397461

         chdg
0  185.872192
33000
34000
nombre avions courants : 1082
nombre radars courants : 23
nombre de paquets reçus par minute : 32709
35000
36000
37000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976227.19', '01:00:5e:50:01:42', '8', '80', '48226.2265625', '1253', '342.680053711', '8.3125', '90.25', '304.541015625', '186.729125977']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976227.0  00:23:9c:c1:94:5f   48  8.0

    sic            tod      tn       theta     rho     fl         cgs  \
0  80.0  48226.2265625  1253.0  342.680054  8.3125  90.25  304.541016

         chdg
0  186.729126
38000
nombre avions courants : 1080
39000
nombre radars courants : 23
nombre de paquets reçus par minute : 37317
40000
41000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976231.16', '01:00:5e:50:01:42', '8', '80', '48230.1875', '1253', '341.674804688', '8.0234375', '92.25', '301.904296875', '187.239990234']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976231.0  00:23:9c:c1:94:5f   48  8.0

    sic         tod      tn       theta       rho     fl         cgs  \
0  80.0  48230.1875  1253.0  341.674805  8.023438  92.25  301.904297

        chdg
0  187.23999
42000
43000
nombre avions courants : 1077
44000
nombre radars courants : 23
45000
nombre de paquets reçus par minute : 41996
46000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976235.12', '01:00:5e:50:01:42', '8', '80', '48234.125', '1253', '340.532226562', '7.734375', '94.25', '305.419921875', '188.228759766']

        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976235.0  00:23:9c:c1:94:5f   48  8.0

    sic        tod      tn       theta       rho     fl         cgs       chdg
0  80.0  48234.125  1253.0  340.532227  7.734375  94.25  305.419922  188.22876
47000
48000
49000
nombre avions courants : 1077
nombre radars courants : 23
50000
nombre de paquets reçus par minute : 46605
51000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976239.08', '01:00:5e:50:01:42', '8', '80', '48238.078125', '1253', '339.307250977', '7.453125', '96.25', '306.079101562', '188.349609375']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976239.0  00:23:9c:c1:94:5f   48  8.0

    sic           tod      tn       theta       rho     fl         cgs  \
0  80.0  48238.078125  1253.0  339.307251  7.453125  96.25  306.079102

         chdg
0  188.349609
52000
53000
+--------+-----------------+-------------+---------+---------+----------+----------+
|     tid|              dst|           ds|        y|     yhat|yhat_lower|yhat_upper|
+--------+-----------------+-------------+---------+---------+----------+----------+
|DSO05LM |01:00:5e:50:01:42|1.556976196E9|212.13501| 204.6827| 199.58353| 209.18968|
|DSO05LM |01:00:5e:50:01:42|1.556976199E9|195.48523|202.01959| 197.43886| 206.82956|
|DSO05LM |01:00:5e:50:01:42|1.556976203E9|197.77588|198.46878| 193.57063| 203.30475|
|DSO05LM |01:00:5e:50:01:42|1.556976207E9| 196.3916|194.91873| 190.10176| 199.67194|
|DSO05LM |01:00:5e:50:01:42|1.556976211E9| 193.1726|191.36868| 186.08917| 195.89069|
|DSO05LM |01:00:5e:50:01:42|1.556976215E9|182.82349|  187.822| 183.29301|  192.6611|
|DSO05LM |01:00:5e:50:01:42|1.556976219E9|184.84497|187.00534|  182.0377|  191.4735|
|DSO05LM |01:00:5e:50:01:42|1.556976223E9| 185.8722|186.19984| 181.24986| 190.91345|
|DSO05LM |01:00:5e:50:01:42|1.556976227E9|186.72913|185.39435| 180.47684| 190.09665|
|DSO05LM |01:00:5e:50:01:42|1.556976231E9|187.23999|184.58887|  179.7535| 189.39958|
|DSO05LM |01:00:5e:50:01:42|1.556976235E9|     null|183.78337|  179.0823|  188.9502|
|DSO05LM |01:00:5e:50:01:42|1.556976239E9|     null|182.97787| 177.82347|  188.1332|
|DSO05LM |01:00:5e:50:01:42|1.556976243E9|     null|182.17238| 177.28067| 187.38753|
|DSO05LM |01:00:5e:50:01:42|1.556976247E9|     null|181.36688| 176.05927|  186.9807|
|DSO05LM |01:00:5e:50:01:42|1.556976251E9|     null|180.56139| 174.41536|  186.6506|
|DSO05LM |01:00:5e:50:01:42|1.556976255E9|     null|179.75589| 172.51363| 186.36987|
|DSO05LM |01:00:5e:50:01:42|1.556976259E9|     null| 178.9504| 171.12704| 186.85045|
|DSO05LM |01:00:5e:50:01:42|1.556976263E9|     null| 178.1449| 168.53409|  187.0498|
|DSO05LM |01:00:5e:50:01:42|1.556976267E9|     null| 177.3394| 166.77348|   186.934|
|DSO05LM |01:00:5e:50:01:42|1.556976271E9|     null| 176.5339| 164.61494| 188.20139|
+--------+-----------------+-------------+---------+---------+----------+----------+

nombre avions courants : 1078
54000
nombre radars courants : 23
nombre de paquets reçus par minute : 51220
55000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976243.07', '01:00:5e:50:01:42', '8', '80', '48242.03125', '1253', '337.944946289', '7.17578125', '98.25', '305.859375', '188.876953125']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976243.0  00:23:9c:c1:94:5f   48  8.0

    sic          tod      tn       theta       rho     fl         cgs  \
0  80.0  48242.03125  1253.0  337.944946  7.175781  98.25  305.859375

         chdg
0  188.876953
56000
57000
58000
nombre avions courants : 1077
nombre radars courants : 23
nombre de paquets reçus par minute : 55931
59000
60000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976246.87', '01:00:5e:50:01:42', '8', '80', '48245.96875', '1253', '336.41784668', '6.90625', '100.75', '310.25390625', '189.64050293']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976247.0  00:23:9c:c1:94:5f   48  8.0

    sic          tod      tn       theta      rho      fl         cgs  \
0  80.0  48245.96875  1253.0  336.417847  6.90625  100.75  310.253906

         chdg
0  189.640503
61000
62000
nombre avions courants : 1079
63000
nombre radars courants : 23
nombre de paquets reçus par minute : 60400
64000
65000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976250.86', '01:00:5e:50:01:42', '8', '80', '48249.9140625', '1253', '334.802856445', '6.64453125', '104.0', '308.056640625', '189.058227539']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976251.0  00:23:9c:c1:94:5f   48  8.0

    sic            tod      tn       theta       rho     fl         cgs  \
0  80.0  48249.9140625  1253.0  334.802856  6.644531  104.0  308.056641

         chdg
0  189.058228
66000
67000
nombre avions courants : 1079
68000
nombre radars courants : 23
69000
nombre de paquets reçus par minute : 65041
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976254.81', '01:00:5e:50:01:42', '8', '80', '48253.859375', '1253', '333.001098633', '6.39453125', '107.5', '308.276367188', '189.459228516']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976255.0  00:23:9c:c1:94:5f   48  8.0

    sic           tod      tn       theta       rho     fl         cgs  \
0  80.0  48253.859375  1253.0  333.001099  6.394531  107.5  308.276367

         chdg
0  189.459229
70000
71000
72000
73000
nombre avions courants : 1079
74000
+--------+-----------------+-------------+---------+---------+----------+----------+
|     tid|              dst|           ds|        y|     yhat|yhat_lower|yhat_upper|
+--------+-----------------+-------------+---------+---------+----------+----------+
|DSO05LM |01:00:5e:50:01:42|1.556976196E9|212.13501|205.10919| 201.41466| 208.89201|
|DSO05LM |01:00:5e:50:01:42|1.556976199E9|195.48523|202.22632| 198.29054| 205.76526|
|DSO05LM |01:00:5e:50:01:42|1.556976203E9|197.77588|198.38249| 194.73895| 201.97319|
|DSO05LM |01:00:5e:50:01:42|1.556976207E9| 196.3916|194.53865| 191.24728| 198.20425|
|DSO05LM |01:00:5e:50:01:42|1.556976211E9| 193.1726| 190.6949|  186.8399| 194.12955|
|DSO05LM |01:00:5e:50:01:42|1.556976215E9|182.82349|186.85114| 183.03033| 190.72041|
|DSO05LM |01:00:5e:50:01:42|1.556976219E9|184.84497| 186.1226| 182.21138| 189.71889|
|DSO05LM |01:00:5e:50:01:42|1.556976223E9| 185.8722|186.49574|  182.6223| 190.24385|
|DSO05LM |01:00:5e:50:01:42|1.556976227E9|186.72913|186.87811| 183.17972| 190.60355|
|DSO05LM |01:00:5e:50:01:42|1.556976231E9|187.23999|187.26166| 183.83522| 190.82515|
|DSO05LM |01:00:5e:50:01:42|1.556976235E9|188.22876|187.64522| 184.17665|  191.3899|
|DSO05LM |01:00:5e:50:01:42|1.556976239E9|188.34961|188.02876| 184.41316| 191.71103|
|DSO05LM |01:00:5e:50:01:42|1.556976243E9|188.87695|188.41232| 184.57648| 192.14726|
|DSO05LM |01:00:5e:50:01:42|1.556976247E9| 189.6405|188.79587| 184.83046| 192.43814|
|DSO05LM |01:00:5e:50:01:42|1.556976251E9|189.05823|189.17943| 185.77042| 193.12288|
|DSO05LM |01:00:5e:50:01:42|1.556976255E9|     null|189.56297| 186.02765| 193.07329|
|DSO05LM |01:00:5e:50:01:42|1.556976259E9|     null|189.94653| 186.20447| 193.70816|
|DSO05LM |01:00:5e:50:01:42|1.556976263E9|     null|190.33008| 186.39784|   194.389|
|DSO05LM |01:00:5e:50:01:42|1.556976267E9|     null|190.71364| 186.02261| 195.27203|
|DSO05LM |01:00:5e:50:01:42|1.556976271E9|     null|191.09718| 186.24629| 196.45854|
+--------+-----------------+-------------+---------+---------+----------+----------+
only showing top 20 rows

['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976258.77', '01:00:5e:50:01:42', '8', '80', '48257.796875', '1253', '330.985107422', '6.15234375', '111.25', '313.330078125', '190.04699707']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976259.0  00:23:9c:c1:94:5f   48  8.0

    sic           tod      tn       theta       rho      fl         cgs  \
0  80.0  48257.796875  1253.0  330.985107  6.152344  111.25  313.330078

         chdg
0  190.046997

nombre radars courants : 23
75000
76000
nombre de paquets reçus par minute : 74275
77000
nombre avions courants : 1075
nombre radars courants : 23
nombre de paquets reçus par minute : 70491
78000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976262.73', '01:00:5e:50:01:42', '8', '80', '48261.734375', '1253', '328.85925293', '5.91796875', '115.0', '310.25390625', '188.893432617']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976263.0  00:23:9c:c1:94:5f   48  8.0

    sic           tod      tn       theta       rho     fl         cgs  \
0  80.0  48261.734375  1253.0  328.859253  5.917969  115.0  310.253906

         chdg
0  188.893433
79000
80000
81000
nombre avions courants : 1075
82000
nombre radars courants : 23
nombre de paquets reçus par minute : 70499
83000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976266.71', '01:00:5e:50:01:42', '8', '80', '48265.6640625', '1253', '326.469726562', '5.69921875', '119.0', '312.890625', '189.349365234']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976267.0  00:23:9c:c1:94:5f   48  8.0

    sic            tod      tn       theta       rho     fl         cgs  \
0  80.0  48265.6640625  1253.0  326.469727  5.699219  119.0  312.890625

         chdg
0  189.349365
84000
85000
86000
nombre avions courants : 1075
nombre radars courants : 23
87000
nombre de paquets reçus par minute : 70453
88000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976270.46', '01:00:5e:50:01:42', '8', '80', '48269.59375', '1253', '323.833007812', '5.4921875', '122.75', '313.76953125', '189.750366211']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976270.0  00:23:9c:c1:94:5f   48  8.0

    sic          tod      tn       theta       rho      fl         cgs  \
0  80.0  48269.59375  1253.0  323.833008  5.492188  122.75  313.769531

         chdg
0  189.750366
89000
90000
91000
nombre avions courants : 1078
nombre radars courants : 23
92000
nombre de paquets reçus par minute : 70253
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976274.42', '01:00:5e:50:01:42', '8', '80', '48273.53125', '1253', '321.00402832', '5.296875', '126.25', '309.814453125', '188.959350586']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976274.0  00:23:9c:c1:94:5f   48  8.0

    sic          tod      tn       theta       rho      fl         cgs  \
0  80.0  48273.53125  1253.0  321.004028  5.296875  126.25  309.814453

         chdg
0  188.959351
93000
94000
95000
96000
nombre avions courants : 1077
97000
['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976278.38', '01:00:5e:50:01:42', '8', '80', '48277.4609375', '1253', '317.856445312', '5.1171875', '130.0', '312.890625', '189.058227539']
        tid                dst            ds                src  cat  sac  \
0  DSO05LM   01:00:5e:50:01:42  1556976278.0  00:23:9c:c1:94:5f   48  8.0

    sic            tod      tn       theta       rho     fl         cgs  \
0  80.0  48277.4609375  1253.0  317.856445  5.117188  130.0  312.890625

         chdg
0  189.058228
98000
99000
+--------+-----------------+-------------+---------+---------+----------+----------+
|     tid|              dst|           ds|        y|     yhat|yhat_lower|yhat_upper|
+--------+-----------------+-------------+---------+---------+----------+----------+
|DSO05LM |01:00:5e:50:01:42|1.556976196E9|212.13501|205.04109| 202.10895| 208.43446|
|DSO05LM |01:00:5e:50:01:42|1.556976199E9|195.48523|202.17935| 199.15619| 205.74118|
|DSO05LM |01:00:5e:50:01:42|1.556976203E9|197.77588| 198.3637| 194.93486|  201.5709|
|DSO05LM |01:00:5e:50:01:42|1.556976207E9| 196.3916|194.54807| 191.43141| 197.96422|
|DSO05LM |01:00:5e:50:01:42|1.556976211E9| 193.1726|190.73244| 187.29076| 193.85892|
|DSO05LM |01:00:5e:50:01:42|1.556976215E9|182.82349|186.91681|  183.5499| 190.03871|
|DSO05LM |01:00:5e:50:01:42|1.556976219E9|184.84497|186.47893| 183.23775| 189.56372|
|DSO05LM |01:00:5e:50:01:42|1.556976223E9| 185.8722| 186.7593| 183.41325| 190.13458|
|DSO05LM |01:00:5e:50:01:42|1.556976227E9|186.72913| 187.0413| 183.69313| 190.26149|
|DSO05LM |01:00:5e:50:01:42|1.556976231E9|187.23999|187.32431| 184.22552| 190.61296|
|DSO05LM |01:00:5e:50:01:42|1.556976235E9|188.22876| 187.6073|   184.298| 190.79463|
|DSO05LM |01:00:5e:50:01:42|1.556976239E9|188.34961|187.89029| 184.41469|  191.2214|
|DSO05LM |01:00:5e:50:01:42|1.556976243E9|188.87695| 188.1733| 184.88058| 191.60132|
|DSO05LM |01:00:5e:50:01:42|1.556976247E9| 189.6405|188.45628| 185.19856| 191.75029|
|DSO05LM |01:00:5e:50:01:42|1.556976251E9|189.05823|188.73927| 185.25684| 191.89282|
|DSO05LM |01:00:5e:50:01:42|1.556976255E9|189.45923|189.02228| 185.88277|  192.5677|
|DSO05LM |01:00:5e:50:01:42|1.556976259E9|  190.047|189.30527| 185.76819| 192.29181|
|DSO05LM |01:00:5e:50:01:42|1.556976263E9|188.89343|189.58826| 186.34705| 192.94641|
|DSO05LM |01:00:5e:50:01:42|1.556976267E9|189.34937|189.87125| 186.75403| 193.09009|
|DSO05LM |01:00:5e:50:01:42| 1.55697627E9|189.75037| 190.0835|  186.7258| 193.16461|
+--------+-----------------+-------------+---------+---------+----------+----------+
only showing top 20 rows

100000
nombre radars courants : 23
nombre avions courants : 1076
nombre de paquets reçus par minute : 74873
nombre radars courants : 23
nombre de paquets reçus par minute : 70238

In [ ]:
# -> nombre d'avions qui volent en temps réel

traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit[var].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\

1556976268.0

In [114]:
# -> nombre d'avions qui volent en temps réel (sur une plage de temps de 10 secondes) 
#prenant en compte le TS du packet courant moins 10

TS_AUX = 1.556976278E9
float(TS_AUX - 10)

#print('select distinct(TS) from global_temp.traffic WHERE TS > ' + str(TS_AUX - 10) + ' ORDER BY TS DESC')

#spark.sql('select distinct(TS) from global_temp.traffic WHERE TS >' + '\' 1556976268.0 ORDER BY TS DESC").show()

spark.sql('select * from global_temp.traffic WHERE TS > ' 
          + str(TS_AUX - 60) + ' ORDER BY TS DESC').count()

70238

In [115]:
def info_sup_traffic(ts_courant):
   # -> nombre d'avions qui volent en temps réel

  print('nombre avions courants : ' + str(spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS > ' 
          + str(float(ts_courant) - 10) + ' ORDER BY TS DESC').distinct().count()))

   # -> nombre de radars qui sont en train de les visualiser 

  print('nombre radars courants : ' + str(spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS > ' 
          + str(TS_AUX - 10) + ' ORDER BY TS DESC').distinct().count()))
    
   # -> nombre de paquets reçus par minute 

  print('nombre de paquets reçus par minute : ' + str(spark.sql('select * from global_temp.traffic WHERE TS > ' 
          + str(TS_AUX - 60) + ' ORDER BY TS DESC').count()))

In [116]:
info_sup_traffic('1556976278.58')

nombre avions courants : 1076
nombre radars courants : 23
nombre de paquets reçus par minute : 70238

In [ ]:
'''
spark = pyspark.sql.SparkSession.builder.appName("Spark-Dataframe-SQL").getOrCreate()

trafficSchema = StructType ( [StructField("SRC", StringType(), True),
                                 StructField("CAT", LongType(), True),
                                 StructField("TID", StringType(), True),
                                 StructField("TS", DoubleType(), True),
                                 StructField("DST", StringType(), True),
                                 StructField("SAC", DoubleType(), True),
                                 StructField("SIC", DoubleType(), True),
                                 StructField("ToD", DoubleType(), True),
                                 StructField("TN", DoubleType(), True),
                                 StructField("THETA", DoubleType(), True),
                                 StructField("RHO", DoubleType(), True),
                                 StructField("FL", DoubleType(), True),
                                 StructField("CGS", DoubleType(), True),
                                 StructField("CHdg", DoubleType(), True),
                             ] )
    
traffic_df_explicit = spark.createDataFrame(spark.sparkContext.emptyRDD(),trafficSchema)
traffic_df_explicit.createOrReplaceGlobalTempView('traffic')

schema_for_m = StructType([
        StructField("tid", StringType(), True),
        StructField("dst", StringType(), True),
        StructField("ds", StringType(), True),
        StructField("y", FloatType(), True),
        StructField("yhat", FloatType(), True),
        StructField("yhat_lower", FloatType(), True),
        StructField("yhat_upper", FloatType(), True),
    ])
    
list_aux = [] 
cmpt_tram = 0        

response = requests.get('http://192.168.37.142:50005/stream/2019-05-04-12:00:00/2019-05-04-16:00:00', stream=True)
#type(response)

#Faire la même chose pour chdg et fl 
#create_table(table_name="cgs", parameters="tid STRING, dst STRING, \
#             ds STRING, y FLOAT, yhat FLOAT, yhat_lower FLOAT, yhat_upper FLOAT", database_name="activus"):

i = 0

for data in response.iter_lines():
    #print(data.decode("UTF-8"))  
    #print(str(data)[1:])
    i = i + 1
    #print(i)
    #print([data.decode("UTF-8").split(",")]) 
    #print(data.decode("UTF-8").split(","))
    
    ligne = data.decode("UTF-8").split(",")
    list_aux.append(ligne)
    
      
    #prédire lorsque j'ai 5 nouveaux paquets pour un avion considere et un radar considere 
    #-> prediction 
    #ligne[2] : TID
    #ligne[4] : DST
    
    #Pour l'avion et le radar considere
    if('DSO05LM' in ligne[2] and '01:00:5e:50:01:42' in ligne[4]):
        #compteur pour le nombre de tram   
        #print(ligne)
        
        #print(compt_tram)
        
        rdd_traffic = sc.parallelize(list_aux)
        rdd_traffic_clean = main_clean(rdd_traffic)
        
        #print(rdd_traffic_clean.collect())
        main_db(rdd_traffic_clean) 
        
        #faire un show pour un envoi en temps réel à la base de données sql
        
        cmpt_tram += 1 
        list_aux = []     
        
    #time series 
       
        #envoie de la prédiction toutes les 5 trams
        if(cmpt_tram==5):
            
            #faire la prédiction sur la variable de son choix 
            #pred(traffic_df_explicit, var='CGS')
            #pred(traffic_df_explicit, var='CHdg')
            #pred(traffic_df_explicit, var='FL')
            
            #pred(spark, traffic_df_explicit, schema_for_m)
            
            #pred(var='CGS')
            #pred(var='CHdg')
            #pred(var='FL')
         
            traffic_for_m = traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit['CGS'].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\
        
            traffic_for_m.cache()
        
            df_for_m = spark.createDataFrame(traffic_for_m, schema_for_m)
            
            #thread
            
            #TH = Thread(target = forecast_from_spark, args=(df_for_m,))
            #TH.start()
            
            #TH = Thread(target = forecast_from_spark)
            
                     
            #pas de show mais un filter sur les y == NAN pour n'envoyer que les forecast pour ces valeurs mais pas les 
            #anciennes
            df_for_m.show()
            #envoie de y et de la prédiction 
            #pour chaque ligne du df 
                #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)           
            ###
            
            #Réinitialisation du compteur
            cmpt_tram=0
            
        #Envoie de y
        #clean et envoi de la ligne à la volée
        tid = ligne[2]
        dst = ligne[4]
        ds = float(round(float(ligne[3])))
        FL = float(ligne[11])
        CGS = float(ligne[12])
        CHdg = float(ligne[13])
        yhat = None 
        yhat_lower = None
        yhat_upper = None
        
        #d = {'tid': [tid], 'dst': [dst], 'ds': [ds], 'y': [y], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}
        
            #spark.createDataFrame(traffic_for_m, schema_for_m).show()
        
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'FL': [FL], 'yhat': [yhat], 
             'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CGS': [CGS], 'yhat': [yhat], 
             'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CHdg': [CHdg], 'yhat': [yhat], 
             'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        
            #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)
            
    
    if(not(i%1000)):
        print(i)
        
    if (i==100000): break 
'''

## Connection to DB

In [ ]:
from time import sleep
import requests
import mysql.connector as mconn

In [ ]:
def create_database(database_name="activus"):
    '''
    create a database using: CREATE DATABASE database_name;
    select a database using: USE database_name '''
    conn = mconn.connect(host="192.168.37.86", port=3306, user="root", password="secret")
    cur = conn.cursor()
    cur.execute("CREATE DATABASE %s;"%(database_name))
    conn.commit()
    conn.close()

def show_available_databases():
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty")
    cur = conn.cursor()
    cur.execute("SHOW DATABASES;")
    databases = cur.fetchall()
    for database in databases:
        print(database)
    conn.close()

def create_table(table_name="tableX", parameters="x INT, y FLOAT", database_name="activus"):
    conn = mconn.connect(host="localhost", port=3306, user="root", password="secret", database=database_name)
    cur = conn.cursor()
    n = cur.execute("CREATE TABLE IF NOT EXISTS %s (%s);"%(table_name, parameters))
    print(n)
    conn.commit()
    conn.close()

def show_available_tables(database_name='activus'):
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name)
    cur = conn.cursor()
    tables = cur.execute("SHOW TABLES FROM %s;" % (database_name))
    #tables = cur.execute("SHOW TABLES")
    print(tables)
    if not tables: return  
    for table in tables:
        print(table)
    conn.close()

def drop_table(table_name="tabl1", database_name="test"):
    conn = mconn.connect(host="localhost", port=3306, user="root", password="secret", database=database_name)
    cur = conn.cursor()
    cur.execute("DROP TABLE %s;"%(table_name))
    conn.commit()
    conn.close()

def draft_populate(table_name="tableX", database_name="test"):
    conn = mconn.connect(host="localhost", port=3306, user="root", password="secret", database=database_name)
    cur = conn.cursor()
    datas = requests.get(url="http://192.168.37.142:50005/stream/2019-05-04-00:00:00/2019-05-04-06:00:00", stream=True)
    tsOld=0
    n=0
    # ts = 2020-01-02 23!12:32
    for line in datas.iter_lines():
        src, cat, tid, ts, dst, sac, sic, tod, tn, theta, rho, fl, cgs, chdg = line.split(",")
        ts = Integer.par(ts)
        #t = datetime.strptime(ts,"%Y-%m-%d %H:%M:%S")
        if ts-tsOld>5:
            tsOld=ts
            n=0
        n+=1
        cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s);"%(table_name,(t-datetime(1970,1,1)).total_seconds(), float(y), float(yhat_lower), float(yhat_upper)))
        conn.commit()
        sleep(2)
    conn.close()
    
def connect(database_name):
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name)
    return conn

parameters="tid STRING, dst STRING, \
#             ds STRING, y FLOAT, yhat FLOAT, yhat_lower FLOAT, yhat_upper FLOAT"
    
def query_from_table(table_name="tabl1", database_name="test"):
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name)
    cur = conn.cursor()
    cur.execute("SELECT * FROM %s;"%(table_name))
    rows = cur.fetchall()
    conn.close()
    for row in rows:
        print(row)
        
def insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper):
    cur = conn.cursor()
    #print("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
    cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', y, yhat, yhat_lower, yhat_upper))
    #cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, tid, dst, ds, float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
    conn.commit()
    
def update_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper):
    cur = conn.cursor()
    cur.execute("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower)
        + " WHERE (DS = " + str(ds) + " OR DS = " + str(ds - 1) + 
        " OR DS = " + str(ds + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        str(tid) + "AND LTRIM(RTRIM(DST)) LIKE " + str(dst) + ";")   
    conn.commit()
    
def disconnect(database_name):
    mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name).close()

#create_database()
#show_available_databases()
# create_table(table_name="planes_trend", parameters="ts TIMESTAMP, number_of_planes INT")
#show_available_tables()
#show_available_tables()
#draft_populate()



query_from_table(table_name = 'CHDG', database_name='activus')
# drop_table()

#show_available_databases()

#insert_table('CHDG', connect(database_name='activus'), tid='yolo', dst='yolo', ds='yolo', y=0, yhat=0, yhat_lower=0, yhat_upper=0)

#insert_table('CHDG', connect(database_name='activus'), tid='yolo', dst='yolo', ds='yolo', y='NULL', yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
#disconnect('activus')
#connect(database_name)
#conn.close()

In [124]:
#UPDATE CGS
#SET yhat = 0, yhat_lower = 0, yhat_upper = 0
#WHERE (DS = 1556976215 OR DS = 1556976215 - 1 OR DS = 1556976215 + 1)  AND y IS NULL 

DS_AUX = 1556976215
table_name = "CGS"
yhat = 0.0
yhat_lower = 0.0
yhat_upper = 0.0 
TID_AUX = '\'%' + 'DSO05LM '.lstrip().rstrip() + '%\'' 
DST_AUX = '\'%' + '01:00:5e:50:01:42'.lstrip().rstrip() + '%\'' 
    
print("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower)
        + " WHERE (DS = " + str(DS_AUX) + " OR DS = " + str(DS_AUX - 1) + 
        " OR DS = " + str(DS_AUX + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        str(TID_AUX) + "AND LTRIM(RTRIM(DST)) LIKE " + str(DST_AUX) + ";")

UPDATE CGS SET yhat = 0.0, yhat_lower = 0.0, yhat_upper =  0.0 WHERE (DS = 1556976215 OR DS = 1556976214 OR DS = 1556976216) AND y is NULL AND LTRIM(RTRIM(TID)) LIKE '%DSO05LM%'AND LTRIM(RTRIM(DST)) LIKE '%01:00:5e:50:01:42%';