In [1]:
import pyspark
import pandas as pd
#import datefinder
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import re   
import seaborn as sns
import statsmodels.api as sm
#from statsmodels.tsa.arima_model import ARIMA, ARIMAResults
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import acf, pacf, kpss
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose
import datetime
from fbprophet import Prophet
import pmdarima as pm
from pmdarima.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import requests
from pyspark.sql.types import *
import math
from threading import Thread
import time
from pyspark.sql.functions import collect_list, struct, to_timestamp

Importing plotly failed. Interactive plots will not work.

In [2]:
sc = pyspark.SparkContext(appName="Spark RDD")

In [3]:
#Remove tuple with len !=14
def RemoveStrangeTupleLen(tup):
    if len(tup)==14:
        return tup
    
#CLEANING MAC_ADDRESS_SRC FIELD
def RemoveQuoteSrc(tup):
    if tup[0][0]=='"':
        tup[0]=tup[0][1:]
    return tup

def RemoveWeirdAddress(tup):
    if len(tup[0])>17:
        tup[0]=None
    return tup

#CLEANING CAT FIELD
def CATToInt(tup): 
    tup[1] = int(tup[1])
    return tup

#CLEANING TID FIELD
def replaceNullValue_TID(tup):
    if tup[2] != '' and tup[2] != None and tup[2] != 'NaN': 
        return tup
    else: 
        tup[2] = ''
        return tup
    
#CLEANING TS FIELD
def TSToFloat(tup): 
    tup[3] = float(round(float(tup[3])))
    return tup

#CLEANING DST FIELD
#None

#CLEANING SAC FIELD
def replaceNullValue_SAC(tup):
    if tup[5] != '' and tup[5] != None and tup[5] != 'NaN': 
        tup[5] = float(tup[5])
        return tup
    else: 
        tup[5] = None
        return tup

#CLEANING SIC FIELD
def replaceNullValue_SIC(tup):
    if tup[6] != '' and tup[6] != None and tup[6] != 'NaN': 
        tup[6] = float(tup[6])
        return tup
    else: 
        tup[6] = None
        return tup
    
#CLEANING ToD FIELD
def replaceNullValue_ToD(tup):
    if tup[7] != '' and tup[7] != None and tup[7] != 'NaN': 
        tup[7] = float(tup[7])
        return tup
    else: 
        tup[7] = None
        return tup

#CLEANING TN FIELD
def replaceNullValue_TN(tup):
    if tup[8] != '' and tup[8] != None and tup[8] != 'NaN': 
        tup[8] = float(tup[8])
        return tup
    else: 
        tup[8] = None
        return tup

#CLEANING THETA FIELD
def replaceNullValue_THETA(tup):
    if tup[9] != '' and tup[9] != None and tup[9] != 'NaN': 
        tup[9] = float(tup[9])
        return tup
    else: 
        tup[9] = None
        return tup

#CLEANING RHO FIELD
def replaceNullValue_RHO(tup):
    if tup[10] != '' and tup[10] != None and tup[10] != 'NaN': 
        tup[10] = float(tup[10])
        return tup
    else: 
        tup[10] = None
        return tup
    
#CLEANING FL FIELD 
def replaceNullValue_FL(tup):
    if tup[11] != '' and tup[11] != None and tup[11] != 'NaN': 
        tup[11] = float(tup[11])
        return tup
    else: 
        tup[11] = None
        return tup
    
#CLEANING CGS FIELD
def replaceNullValue_CGS(tup):
    if tup[12] != '' and tup[12] != None and tup[12] != 'NaN': 
        tup[12] = float(tup[12])
        return tup
    else: 
        tup[12] = None
        return tup
    
#CLEANING CHdg FIELD
    
def replaceNullValue_CHdg(tup):
    if tup[13] != '' and tup[13] != None and tup[13] != 'NaN': 
        tup[13] = float(tup[13])
        return tup
    else: 
        tup[13] = None
        return tup
    
def RemoveQuoteCHdg(tup):
    if tup[13][-1]=='"':
        tup[13]=tup[13][:-1]
    return tup


def cleaning(tup):
    tup = RemoveQuoteSrc(tup)
    tup = RemoveWeirdAddress(tup)
    tup = CATToInt(tup)
    tup = replaceNullValue_TID(tup)
    tup = TSToFloat(tup)
    tup = replaceNullValue_SAC(tup)
    tup = replaceNullValue_SIC(tup)
    tup = replaceNullValue_ToD(tup)
    tup = replaceNullValue_TN(tup) 
    tup = replaceNullValue_THETA(tup)
    tup = replaceNullValue_RHO(tup)
    tup = replaceNullValue_FL(tup)
    tup = replaceNullValue_CGS(tup)
    tup = replaceNullValue_CHdg(RemoveQuoteCHdg(tup))
    return tup
    
def main_clean(rdd):
    
    #header = rdd.first()
    #rdd = rdd.filter(lambda line: line != header)
    #rdd = rdd.map(lambda tup: RemoveStrangeTupleLen(tup))\
    #         .filter(lambda tup: tup!=None)
             
    rdd = rdd.map(lambda tup: cleaning(tup))
    return(rdd)

In [4]:
# we first need to import types (e.g. StructType, StructField, IntegerType, etc.)
from pyspark.sql.types import *

def getlistavion(): 
    QUERY = 'SELECT DISTINCT(TID) FROM global_temp.traffic'
    return spark.sql(QUERY).toPandas()

def main_db(rdd): 
    global traffic_df_explicit, trafficSchema, spark  
    
    traffic_df_explicit_aux = spark.createDataFrame(rdd, trafficSchema)
    traffic_df_explicit = traffic_df_explicit.unionAll(traffic_df_explicit_aux)       
    
    traffic_df_explicit.createOrReplaceGlobalTempView('traffic')
    
    traffic_df_explicit.cache()
    
    #Queries
    #spark.sql("select TID, DST, COUNT(*) from global_temp.traffic WHERE TID != '' GROUP BY TID, DST ORDER BY COUNT(*) DESC").show()
    #spark.sql("select * from global_temp.traffic").show()

#main_db(rdd_traffic_clean)

In [5]:
def transform_data_m(row):
    """Transform data from pyspark.sql.Row to python dict to be used in rdd."""
    data = row['data']
    tid = row['TID']
    dst = row['DST']
    
    # Transform [pyspark.sql.Dataframe.Row] -> [dict]
    data_dicts = []
    for d in data:
        data_dicts.append(d.asDict())

    # Convert into pandas dataframe for fbprophet
    data = pd.DataFrame(data_dicts)
    data['ds'] = pd.to_datetime(data['ds'], unit='s')

    return {
        'tid' : tid,
        'dst' : dst,
        'data': data,
    }

In [6]:
def partition_data_m(d):
    """Split data into training and testing based on timestamp."""
    # Extract data from pd.Dataframe
    data = d['data']

    # Find max timestamp and extract timestamp for start of day
    max_datetime = max(data['ds'])
    #start_datetime = max_datetime.replace(hour=00, minute=00, second=00)

    # Extract training data
    train_data = data[data['ds'] <= max_datetime]

    # Account for zeros in data while still applying uniform transform
    #train_data['y'] = train_data['y'].apply(lambda x: np.log(x + 1))

    # Assign train/test split
    #d['test_data'] = data.loc[(data['ds'] < start_datetime)
    #                          & (data['ds'] <= max_datetime)]
    d['train_data'] = train_data

    return d

In [7]:
def create_model_m(d):
    """Create Prophet model using each input grid parameter set."""
    m = Prophet()
    d['model'] = m

    return d

In [8]:
def train_model_m(d):
    """Fit the model using the training data."""
    model = d['model']
    train_data = d['train_data']
    model.fit(train_data)
    d['model'] = model

    return d

In [9]:
def make_forecast_m(d):
    """Execute the forecast method on the model to make future predictions."""
    model = d['model']
    future = model.make_future_dataframe(
        periods=10, freq='4s')
    
    forecast = model.predict(future)
    d['forecast'] = forecast

    return d

In [10]:
def reduce_data_scope_m(d):
    """Return a tuple (app + , + metric_type, {})."""
    return (
        d['tid'] + ',' + d['dst'],
        {
            'forecast': pd.concat([d['train_data']['y'],d['forecast']], axis=1),  
        },
    )

In [11]:
def expand_predictions_m(d):
    tid_dst, data = d
    tid, dst = tid_dst.split(',')
    return [
        (
            tid, 
            dst,
            #p['ds'].strftime("%d-%b-%Y (%H:%M:%S)"),
            time.mktime(datetime.datetime.strptime(p['ds'].strftime("%d-%b-%Y (%H:%M:%S)"), "%d-%b-%Y (%H:%M:%S)").timetuple()),
            p['y'] if not(math.isnan(p['y'])) else None,
            p['yhat'],
            p['yhat_lower'],
            p['yhat_upper'],
        ) for i, p in data['forecast'].iterrows()
    ]

In [12]:
def pred(var):
    
    global traffic_df_explicit, spark, schema_for_m
    
    traffic_for_m = traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit[var].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\
        
    traffic_for_m.cache()
        
    df_for_m = spark.createDataFrame(traffic_for_m, schema_for_m)
            
    #thread
            
    TH = Thread(target = forecast_from_spark, args=(df_for_m,var))
    TH.start()

In [14]:
def forecast_from_spark(df, var):
    
    global nb_pred
     #pas de show mais un filter sur les y == NAN pour n'envoyer que les forecast pour ces valeurs mais pas les anciennes
    #df.show()
    #df_for_m.filter(" y == 'NaN'").show() et et transformer y en cgs
    #print(df.select('*').withColumnRenamed('y', var).show())
    
    if nb_pred == 0:
        for line in df.filter(" y IS NULL").collect():
            print("insert line" + line)
            #insert_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
            #     yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])
            
        nb_pred = 1 
    
    else: 
        i = 0
        for line in df.filter(" y IS NULL").collect():
            if (i < 5):
                print("update line" + line)
                update_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                     yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])

                i = i + 1

            else: 
                print("insert line" + line)
                insert_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                     yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])
        
    
    #disconnect('activus')

    #pour chaque ligne du df 
        #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)

In [20]:
def forecast_from_spark(df, var):
    
    global nb_pred 
    #nb_pred = 1
     #pas de show mais un filter sur les y == NAN pour n'envoyer que les forecast pour ces valeurs mais pas les anciennes
    #df.show()
    #df_for_m.filter(" y == 'NaN'").show() et et transformer y en cgs
    #print(df.select('*').withColumnRenamed('y', var).show())
    
    #envoie de y et de la prédiction 
    if nb_pred == 0:
        for line in df.collect():
            print("insert line", line)
            #insert_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
            #     yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])
            
        nb_pred = 1 
    
    else: 
        i = 0
        for line in df.collect():
            
            if line[3] != None:  
                print("update line", line)
                #update_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                #     yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])
                
                
            else:
                if (i < 5):
                    print("update line", line)
                    #update_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                    # yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])

                    i = i + 1

                else: 
                    print("insert line", line)
                    #insert_table(var, connect(database_name='activus'), tid=line[0], dst=line[1], ds=line[2] , y='NULL', 
                    # yhat=line[4], yhat_lower=line[5], yhat_upper=line[6])
        
    
    #disconnect('activus')

    #pour chaque ligne du df 
        #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)

In [ ]:
#forecast_from_spark(df_for_m, "CGS")

In [ ]:
def update_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper):
    TID_AUX = '\'%' + str(tid).strip() + '%\'' 
    DST_AUX = '\'%' + str(dst).strip() + '%\'' 
    
    print("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower) + ", DS = " + str(float(ds))
        + " WHERE (DS = " + str(float(ds)) + " OR DS = " + str(float(ds) - 1) + 
        " OR DS = " + str(float(ds) + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        TID_AUX + " AND LTRIM(RTRIM(DST)) LIKE " + DST_AUX + ";")
    
    '''
    cur = conn.cursor()
    cur.execute("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower) + ", DS = " + str(float(ds))
        + " WHERE (DS = " + str(float(ds)) + " OR DS = " + str(float(ds) - 1) + 
        " OR DS = " + str(float(ds) + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        TID_AUX + " AND LTRIM(RTRIM(DST)) LIKE " + DST_AUX + ";")   
    conn.commit()
    
    '''

In [ ]:
update_table("CGS", '', tid=test[0][0], dst=test[0][1], ds=test[0][2] , y='NULL', 
                 yhat=test[0][4], yhat_lower=test[0][5], yhat_upper=test[0][6])

In [ ]:
update_table("CGS", '', 'AAAAAA', '00:00:00:00:00', 1500000, 0, 0, 0, 0)

In [ ]:
def forecast_from_spark(df, var):
    df.show()

In [ ]:
spark.sql('select * from global_temp.traffic order by TS DESC').show()

In [ ]:
spark.sql('select max(TS) from global_temp.traffic').collect()[0]['max(TS)']

In [ ]:
float(spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').distinct().count())

In [ ]:
float(spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').distinct().count())

In [ ]:
float(spark.sql('select * from global_temp.traffic WHERE TS >= ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').count())

In [ ]:
print("INSERT INTO INFO_TRAFFIC VALUES(" + str(spark.sql('select max(TS) from global_temp.traffic').collect()[0]['max(TS)'] - 5) + ", " 
      + str(spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').distinct().count()) + ", " +

        str(spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').distinct().count()) + ", " +
      
        str(spark.sql('select * from global_temp.traffic WHERE TS >= ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').count()) + ");")

In [17]:
def insert_table_info_traffic(table_name, conn, ds, nombre_avions, nombre_radars, nombre_paquets):
    #cur = conn.cursor()
    #print("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
    
    print("INSERT INTO " + str(table_name) + " VALUES(" + str(ds - 5) + ", " + str(nombre_avions) + ", " +
          str(nombre_radars) + ", " + str(nombre_paquets) + ");")
    
    #cur.execute("INSERT INTO " + str(table_name) + " VALUES(" + str(ds - 5) + ", " + str(nombre_avions) + ", " +
    #      str(nombre_radars) + ", " + str(nombre_paquets) + ");")

    #conn.commit()

In [ ]:
insert_table_info_traffic("INFO_TRAFFIC", "", spark.sql('select max(TS) from global_temp.traffic').collect()[0]['max(TS)'], 
                          spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                          ((select max(TS) from global_temp.traffic) - 5) \
                          ORDER BY TS DESC').distinct().count(), 
                          spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                          ((select max(TS) from global_temp.traffic) - 5) \
                          ORDER BY TS DESC').distinct().count(), 
                          spark.sql('select * from global_temp.traffic WHERE TS >= ((select max(TS) from global_temp.traffic) - 5) \
                          ORDER BY TS DESC').count())

In [18]:
def info_sup_traffic():
    
    '''
   # -> nombre d'avions qui volent en temps réel (5 dernières secondes)
    print('nombre avions courants : ' + str(spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').distinct().count()))
    
    float(spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').distinct().count())

   # -> nombre de radars qui sont en train de les visualiser (5 dernières secondes)

    print('nombre radars courants : ' + str(spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').distinct().count()))
    
    float(spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                        + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                    ((select max(TS) from global_temp.traffic) - 5) \
                    ORDER BY TS DESC').distinct().count()) 


  # -> nombre de paquets reçus en temps réel (5 dernières secondes)

    print('nombre de paquets reçus par minute : ' + str(spark.sql('select * from global_temp.traffic WHERE TS >= ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').count()))
    
    float(spark.sql('select * from global_temp.traffic WHERE TS >= ((select max(TS) from global_temp.traffic) - 5) \
                ORDER BY TS DESC').count())
    '''
    
    insert_table_info_traffic("INFO_TRAFFIC", "", spark.sql('select max(TS) from global_temp.traffic').collect()[0]['max(TS)'], 
                          spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                          ((select max(TS) from global_temp.traffic) - 5) \
                          ORDER BY TS DESC').distinct().count(), 
                          spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS >= \
                          ((select max(TS) from global_temp.traffic) - 5) \
                          ORDER BY TS DESC').distinct().count(), 
                          spark.sql('select * from global_temp.traffic WHERE TS >= ((select max(TS) from global_temp.traffic) - 5) \
                          ORDER BY TS DESC').count())

In [ ]:
info_sup_traffic()

In [21]:
spark = pyspark.sql.SparkSession.builder.appName("Spark-Dataframe-SQL").getOrCreate()

trafficSchema = StructType ( [StructField("SRC", StringType(), True),
                                 StructField("CAT", LongType(), True),
                                 StructField("TID", StringType(), True),
                                 StructField("TS", DoubleType(), True),
                                 StructField("DST", StringType(), True),
                                 StructField("SAC", DoubleType(), True),
                                 StructField("SIC", DoubleType(), True),
                                 StructField("ToD", DoubleType(), True),
                                 StructField("TN", DoubleType(), True),
                                 StructField("THETA", DoubleType(), True),
                                 StructField("RHO", DoubleType(), True),
                                 StructField("FL", DoubleType(), True),
                                 StructField("CGS", DoubleType(), True),
                                 StructField("CHdg", DoubleType(), True),
                             ] )
    
traffic_df_explicit = spark.createDataFrame(spark.sparkContext.emptyRDD(),trafficSchema)
traffic_df_explicit.createOrReplaceGlobalTempView('traffic')

schema_for_m = StructType([
        StructField("tid", StringType(), True),
        StructField("dst", StringType(), True),
        StructField("ds", StringType(), True),
        StructField("y", FloatType(), True),
        StructField("yhat", FloatType(), True),
        StructField("yhat_lower", FloatType(), True),
        StructField("yhat_upper", FloatType(), True),
    ])
    
list_aux = [] 
cmpt_tram = 0        

response = requests.get('http://192.168.37.142:50005/stream/2019-05-04-12:00:00/2019-05-04-16:00:00', stream=True)
#type(response)

#Faire la même chose pour chdg et fl 
#create_table(table_name="cgs", parameters="tid STRING, dst STRING, \
#             ds STRING, y FLOAT, yhat FLOAT, yhat_lower FLOAT, yhat_upper FLOAT", database_name="activus"):

i = 0
global nb_pred
nb_pred = 0

for data in response.iter_lines():
    #print(data.decode("UTF-8"))  
    #print(str(data)[1:])
    i = i + 1
    #print(i)
    #print([data.decode("UTF-8").split(",")]) 
    #print(data.decode("UTF-8").split(","))
    
    ligne = data.decode("UTF-8").split(",")
    list_aux.append(ligne)
          
    #prédire lorsque j'ai 5 nouveaux paquets pour un avion considere et un radar considere 
    #-> prediction 
    #ligne[2] : TID
    #ligne[4] : DST
    
    #Pour l'avion et le radar considere
    if('DSO05LM' in ligne[2] and '01:00:5e:50:01:42' in ligne[4]):
        #compteur pour le nombre de tram   
        #print(ligne)
        
        #print(compt_tram)
        
        rdd_traffic = sc.parallelize(list_aux)
        rdd_traffic_clean = main_clean(rdd_traffic)
        
        #print(rdd_traffic_clean.collect())
        main_db(rdd_traffic_clean) 
        
        #faire un show pour un envoi en temps réel à la base de données sql
        
        cmpt_tram += 1 
        list_aux = []
        
    #time series 
       
        #envoie de la prédiction toutes les 5 trams
        if(cmpt_tram==5):
            
            #faire la prédiction sur la variable de son choix 
            #pred(traffic_df_explicit, var='CGS')
            #pred(traffic_df_explicit, var='CHdg')
            #pred(traffic_df_explicit, var='FL')
            
            #pred(spark, traffic_df_explicit, schema_for_m)
            
            pred(var='CGS')
            #pred(var='CHDG')
            #pred(var='FL')
         
            '''
            traffic_for_m = traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit['CGS'].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\
        
            traffic_for_m.cache()
        
            df_for_m = spark.createDataFrame(traffic_for_m, schema_for_m)
            
            #thread
            
            TH = Thread(target = forecast_from_spark, args=(df_for_m,))
            TH.start()
            
            #TH = Thread(target = forecast_from_spark)
            
                     
            #pas de show mais un filter sur les y == NAN pour n'envoyer que les forecast pour ces valeurs mais pas les 
            #anciennes
            #df_for_m.show()
            #envoie de y et de la prédiction 
            #pour chaque ligne du df 
                #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)           
            ###
            
            '''
            #Réinitialisation du compteur
            cmpt_tram=0
            
        #Envoie de y
        #clean et envoi de la ligne à la volée
        
        #['00:23:9c:c1:94:5f', '48', 'DSO05LM ', '1556976195.58', '01:00:5e:50:01:42', '8', '80', '48194.625', '1253', '349.738769531', '10.65234375', '79.5', '300.366210938', '212.135009766']
        
        tid = ligne[2]
        dst = ligne[4]
        ds = str(float(round(float(ligne[3]))))   
        src = ligne[0]
        cat = int(ligne[1])
        sac = float(ligne[5])
        sic = float(ligne[6])
        toD = ligne[7]
        tn = float(ligne[8])
        theta = float(ligne[9])
        rho = float(ligne[10])
        FL = float(ligne[11])
        CGS = float(ligne[12])
        CHdg = float(ligne[13])
        yhat = None 
        yhat_lower = None
        yhat_upper = None
        
        #d = {'tid': [tid], 'dst': [dst], 'ds': [ds], 'y': [y], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}
        
            #spark.createDataFrame(traffic_for_m, schema_for_m).show()
        
        #print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'FL': [FL], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CGS': [CGS], 'yhat': [yhat], 
             'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        
        #print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CHdg': [CHdg], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        
        #print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'src':[src], 'cat':[cat], 'sac':[sac], 
        #                         'sic':[sic], 'tod':[toD], 'tn':[tn], 'theta':[theta], 'rho':[rho], 
        #                         'fl':[FL], 'cgs':[CGS], 'chdg':[CHdg]}))
        
        #insert_table('CHDG', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=CHdg, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        #insert_table('CGS', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=CGS, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        #insert_table('FL', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=FL, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        #insert_table_fields('FIELDS', connect(database_name='activus'), tid=tid, dst=dst, ds=ds, src=src, cat=cat, sac=sac, 
        #                    sic=sic, tod=toD, tn=tn, theta=theta, rho=rho, fl=FL, cgs=CGS, chdg=chdg)
        
    '''            
    def insert_table_fields(table_name, conn, tid, dst, ds, src, cat, sac, sic, tod, tn, theta, rho, fl, cgs, chdg):
        cur = conn.cursor()
        #print("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
        cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + 
        str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', '\'' + str(src) + '\'', cat, sac, sic, 
        '\'' + str(tod) + '\'', tn, theta, rho, fl, cgs, chdg))
        #cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, tid, dst, ds, float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
        conn.commit()
    '''
        
        #disconnect('activus')
        
            #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)
            
    #nombre d'avion en fonction d'une période de temps 
    
    #if(not(i%5000)): 
        #info courante 
    #    TH_current = Thread(target =  info_sup_traffic)
    #    TH_current.start()
    
    if(not(i%1000)):
        print(i)
        
    if (i==100000): break

        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976196.0  300.366211  None       None

  yhat_upper
0       None
1000
2000
3000
4000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976199.0  303.662109  None       None

  yhat_upper
0       None
5000
6000
7000
8000
9000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976203.0  305.419922  None       None

  yhat_upper
0       None
10000
11000
12000
13000
14000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976207.0  301.245117  None       None

  yhat_upper
0       None
15000
16000
17000
18000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976211.0  300.585938  None       None

  yhat_upper
0       None
19000
20000
21000
22000
23000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976215.0  303.222656  None       None

  yhat_upper
0       None
24000
25000
26000
27000
28000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976219.0  306.298828  None       None

  yhat_upper
0       None
29000
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976196E9', y=300.3662109375, yhat=300.3662109375, yhat_lower=300.3662109375, yhat_upper=300.3662109375)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976199E9', y=303.662109375, yhat=303.662109375, yhat_lower=303.662109375, yhat_upper=303.662109375)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976203E9', y=305.419921875, yhat=305.419921875, yhat_lower=305.419921875, yhat_upper=305.419921875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976207E9', y=301.2451171875, yhat=301.2451171875, yhat_lower=301.2451171875, yhat_upper=301.2451171875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976211E9', y=300.5859375, yhat=300.5859375, yhat_lower=300.5859375, yhat_upper=300.5859375)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976215E9', y=None, yhat=299.9267578125, yhat_lower=297.6580810546875, yhat_upper=302.1030578613281)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976219E9', y=None, yhat=299.267578125, yhat_lower=291.8170471191406, yhat_upper=308.1449279785156)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976223E9', y=None, yhat=298.6083984375, yhat_lower=283.3555908203125, yhat_upper=316.5164794921875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976227E9', y=None, yhat=297.94921875, yhat_lower=272.958984375, yhat_upper=326.0692138671875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976231E9', y=None, yhat=297.2900390625, yhat_lower=261.6896057128906, yhat_upper=335.53619384765625)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976235E9', y=None, yhat=296.630859375, yhat_lower=248.76658630371094, yhat_upper=348.04931640625)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976239E9', y=None, yhat=295.9716796875, yhat_lower=235.5483856201172, yhat_upper=362.3972473144531)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976243E9', y=None, yhat=295.3125, yhat_lower=220.40451049804688, yhat_upper=379.3244323730469)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976247E9', y=None, yhat=294.6533203125, yhat_lower=206.6512451171875, yhat_upper=393.71044921875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976251E9', y=None, yhat=293.994140625, yhat_lower=190.6368865966797, yhat_upper=409.4286193847656)
30000
31000
32000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976223.0  307.397461  None       None

  yhat_upper
0       None
33000
34000
35000
36000
37000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976227.0  304.541016  None       None

  yhat_upper
0       None
38000
39000
40000
41000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976231.0  301.904297  None       None

  yhat_upper
0       None
42000
43000
44000
45000
46000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976235.0  305.419922  None       None

  yhat_upper
0       None
47000
48000
49000
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976196E9', y=300.3662109375, yhat=300.3668212890625, yhat_lower=300.33123779296875, yhat_upper=300.4017333984375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976199E9', y=303.662109375, yhat=303.6614990234375, yhat_lower=303.6235046386719, yhat_upper=303.6976623535156)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976203E9', y=305.419921875, yhat=305.41900634765625, yhat_lower=305.3843688964844, yhat_upper=305.4558410644531)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976207E9', y=301.2451171875, yhat=301.24603271484375, yhat_lower=301.2064208984375, yhat_upper=301.27923583984375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976211E9', y=300.5859375, yhat=300.5859375, yhat_lower=300.5546569824219, yhat_upper=300.62353515625)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976215E9', y=303.22265625, yhat=303.22357177734375, yhat_lower=303.1876525878906, yhat_upper=303.25933837890625)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976219E9', y=306.298828125, yhat=306.29791259765625, yhat_lower=306.26239013671875, yhat_upper=306.3343811035156)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976223E9', y=307.3974609375, yhat=307.360595703125, yhat_lower=307.3238525390625, yhat_upper=307.3977966308594)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976227E9', y=304.541015625, yhat=304.6142578125, yhat_lower=304.57952880859375, yhat_upper=304.6502685546875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976231E9', y=301.904296875, yhat=301.867919921875, yhat_lower=301.8317565917969, yhat_upper=301.90838623046875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976235E9', y=None, yhat=299.1215515136719, yhat_lower=297.0904235839844, yhat_upper=300.8316345214844)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976239E9', y=None, yhat=296.3752136230469, yhat_lower=289.9486083984375, yhat_upper=302.5289001464844)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976243E9', y=None, yhat=293.62884521484375, yhat_lower=281.26702880859375, yhat_upper=306.3704833984375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976247E9', y=None, yhat=290.88250732421875, yhat_lower=271.47314453125, yhat_upper=310.1333923339844)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976251E9', y=None, yhat=288.1361389160156, yhat_lower=259.1390075683594, yhat_upper=315.4799499511719)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976255E9', y=None, yhat=285.3898010253906, yhat_lower=246.67466735839844, yhat_upper=321.7156982421875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976259E9', y=None, yhat=282.6434326171875, yhat_lower=233.21511840820312, yhat_upper=329.9827575683594)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976263E9', y=None, yhat=279.8970947265625, yhat_lower=219.1949005126953, yhat_upper=340.3193664550781)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976267E9', y=None, yhat=277.1507263183594, yhat_lower=203.62484741210938, yhat_upper=350.24127197265625)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976271E9', y=None, yhat=274.4043884277344, yhat_lower=188.213134765625, yhat_upper=361.02044677734375)

50000
51000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976239.0  306.079102  None       None

  yhat_upper
0       None
52000
53000
54000
55000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976243.0  305.859375  None       None

  yhat_upper
0       None
56000
57000
58000
59000
60000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976247.0  310.253906  None       None

  yhat_upper
0       None
61000
62000
63000
64000
65000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976251.0  308.056641  None       None

  yhat_upper
0       None
66000
67000
68000
69000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976255.0  308.276367  None       None

  yhat_upper
0       None
70000
71000
72000
73000
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976196E9', y=300.3662109375, yhat=302.0205078125, yhat_lower=299.57574462890625, yhat_upper=304.5803527832031)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976199E9', y=303.662109375, yhat=302.2789001464844, yhat_lower=299.7296142578125, yhat_upper=304.8559265136719)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976203E9', y=305.419921875, yhat=302.6234130859375, yhat_lower=300.07733154296875, yhat_upper=305.026123046875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976207E9', y=301.2451171875, yhat=302.9679260253906, yhat_lower=300.70263671875, yhat_upper=305.2806091308594)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976211E9', y=300.5859375, yhat=303.31243896484375, yhat_lower=300.8341979980469, yhat_upper=305.9499206542969)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976215E9', y=303.22265625, yhat=303.6573181152344, yhat_lower=301.0553894042969, yhat_upper=306.18023681640625)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976219E9', y=306.298828125, yhat=304.0021667480469, yhat_lower=301.455078125, yhat_upper=306.5051574707031)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976223E9', y=307.3974609375, yhat=304.3438415527344, yhat_lower=301.8833923339844, yhat_upper=306.7550354003906)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976227E9', y=304.541015625, yhat=304.6804504394531, yhat_lower=302.0278015136719, yhat_upper=307.0177001953125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976231E9', y=301.904296875, yhat=305.0170593261719, yhat_lower=302.6014709472656, yhat_upper=307.3588562011719)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976235E9', y=305.419921875, yhat=305.6907043457031, yhat_lower=303.46099853515625, yhat_upper=308.2034606933594)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976239E9', y=306.0791015625, yhat=306.3833312988281, yhat_lower=303.9773254394531, yhat_upper=308.8543701171875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976243E9', y=305.859375, yhat=307.08074951171875, yhat_lower=304.67578125, yhat_upper=309.7252502441406)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976247E9', y=310.25390625, yhat=307.7781677246094, yhat_lower=305.2919616699219, yhat_upper=310.40631103515625)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976251E9', y=308.056640625, yhat=308.4755554199219, yhat_lower=306.0492858886719, yhat_upper=310.8848571777344)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976255E9', y=None, yhat=309.1729736328125, yhat_lower=306.841796875, yhat_upper=311.67852783203125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976259E9', y=None, yhat=309.8703918457031, yhat_lower=307.5427551269531, yhat_upper=312.40118408203125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976263E9', y=None, yhat=310.56781005859375, yhat_lower=308.06048583984375, yhat_upper=312.9806823730469)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976267E9', y=None, yhat=311.2652282714844, yhat_lower=308.90679931640625, yhat_upper=313.7933044433594)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976271E9', y=None, yhat=311.962646484375, yhat_lower=309.2183837890625, yhat_upper=314.48406982421875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976275E9', y=None, yhat=312.6600646972656, yhat_lower=310.2264709472656, yhat_upper=315.25250244140625)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976279E9', y=None, yhat=313.35748291015625, yhat_lower=310.7306823730469, yhat_upper=315.7756042480469)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976283E9', y=None, yhat=314.0549011230469, yhat_lower=311.5364990234375, yhat_upper=316.5327453613281)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976287E9', y=None, yhat=314.7523193359375, yhat_lower=312.10198974609375, yhat_upper=317.4278259277344)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976291E9', y=None, yhat=315.4497375488281, yhat_lower=312.8661193847656, yhat_upper=318.1012268066406)
74000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976259.0  313.330078  None       None

  yhat_upper
0       None
75000
76000
77000
78000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976263.0  310.253906  None       None

  yhat_upper
0       None
79000
80000
81000
82000
83000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976267.0  312.890625  None       None

  yhat_upper
0       None
84000
85000
86000
87000
88000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976270.0  313.769531  None       None

  yhat_upper
0       None
89000
90000
91000
92000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976274.0  309.814453  None       None

  yhat_upper
0       None
93000
94000
95000
96000
97000
        tid                dst            ds         CGS  yhat yhat_lower  \
0  DSO05LM   01:00:5e:50:01:42  1556976278.0  312.890625  None       None

  yhat_upper
0       None
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976196E9', y=300.3662109375, yhat=301.8975830078125, yhat_lower=299.5956115722656, yhat_upper=304.24298095703125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976199E9', y=303.662109375, yhat=302.1809997558594, yhat_lower=300.0052185058594, yhat_upper=304.4448547363281)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976203E9', y=305.419921875, yhat=302.55889892578125, yhat_lower=300.1314392089844, yhat_upper=304.7686462402344)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976207E9', y=301.2451171875, yhat=302.936767578125, yhat_lower=300.70819091796875, yhat_upper=305.13897705078125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976211E9', y=300.5859375, yhat=303.3146667480469, yhat_lower=301.0762939453125, yhat_upper=305.761962890625)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976215E9', y=303.22265625, yhat=303.6970520019531, yhat_lower=301.4759521484375, yhat_upper=305.9248962402344)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976219E9', y=306.298828125, yhat=304.0794677734375, yhat_lower=301.67901611328125, yhat_upper=306.38250732421875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976223E9', y=307.3974609375, yhat=304.46185302734375, yhat_lower=302.2377624511719, yhat_upper=306.86370849609375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976227E9', y=304.541015625, yhat=304.84423828125, yhat_lower=302.5647277832031, yhat_upper=307.2806396484375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976231E9', y=301.904296875, yhat=305.22662353515625, yhat_lower=302.8119812011719, yhat_upper=307.60028076171875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976235E9', y=305.419921875, yhat=305.61993408203125, yhat_lower=303.3011474609375, yhat_upper=307.8933410644531)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976239E9', y=306.0791015625, yhat=306.01898193359375, yhat_lower=303.6329040527344, yhat_upper=308.367431640625)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976243E9', y=305.859375, yhat=306.9661560058594, yhat_lower=304.6966552734375, yhat_upper=309.2795104980469)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976247E9', y=310.25390625, yhat=307.9145812988281, yhat_lower=305.6123962402344, yhat_upper=310.23626708984375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976251E9', y=308.056640625, yhat=308.86297607421875, yhat_lower=306.47650146484375, yhat_upper=311.22332763671875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976255E9', y=308.2763671875, yhat=309.8114013671875, yhat_lower=307.5020751953125, yhat_upper=312.10565185546875)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976259E9', y=313.330078125, yhat=310.7597961425781, yhat_lower=308.22747802734375, yhat_upper=313.0880126953125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976263E9', y=310.25390625, yhat=311.7082214355469, yhat_lower=309.31964111328125, yhat_upper=314.03460693359375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976267E9', y=312.890625, yhat=312.6566162109375, yhat_lower=310.34527587890625, yhat_upper=314.98480224609375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.55697627E9', y=313.76953125, yhat=313.3679504394531, yhat_lower=311.10595703125, yhat_upper=315.55792236328125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976274E9', y=None, yhat=314.31634521484375, yhat_lower=311.9194641113281, yhat_upper=316.52081298828125)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976278E9', y=None, yhat=315.2647705078125, yhat_lower=312.9290771484375, yhat_upper=317.673583984375)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976282E9', y=None, yhat=316.2131652832031, yhat_lower=313.896728515625, yhat_upper=318.34234619140625)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976286E9', y=None, yhat=317.1615905761719, yhat_lower=314.6875, yhat_upper=319.4491271972656)
update line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.55697629E9', y=None, yhat=318.1099853515625, yhat_lower=315.83636474609375, yhat_upper=320.3602600097656)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976294E9', y=None, yhat=319.0583801269531, yhat_lower=316.3763732910156, yhat_upper=321.63397216796875)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976298E9', y=None, yhat=320.0068054199219, yhat_lower=317.69970703125, yhat_upper=322.3343200683594)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976302E9', y=None, yhat=320.9552001953125, yhat_lower=318.5292053222656, yhat_upper=323.4191589355469)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.556976306E9', y=None, yhat=321.90362548828125, yhat_lower=319.3981018066406, yhat_upper=324.5113525390625)
insert line Row(tid='DSO05LM ', dst='01:00:5e:50:01:42', ds='1.55697631E9', y=None, yhat=322.8520202636719, yhat_lower=320.4351806640625, yhat_upper=325.5378723144531)

98000
99000
100000

In [ ]:
spark = pyspark.sql.SparkSession.builder.appName("Spark-Dataframe-SQL").getOrCreate()

trafficSchema = StructType ( [StructField("SRC", StringType(), True),
                                 StructField("CAT", LongType(), True),
                                 StructField("TID", StringType(), True),
                                 StructField("TS", DoubleType(), True),
                                 StructField("DST", StringType(), True),
                                 StructField("SAC", DoubleType(), True),
                                 StructField("SIC", DoubleType(), True),
                                 StructField("ToD", DoubleType(), True),
                                 StructField("TN", DoubleType(), True),
                                 StructField("THETA", DoubleType(), True),
                                 StructField("RHO", DoubleType(), True),
                                 StructField("FL", DoubleType(), True),
                                 StructField("CGS", DoubleType(), True),
                                 StructField("CHdg", DoubleType(), True),
                             ] )
    
traffic_df_explicit = spark.createDataFrame(spark.sparkContext.emptyRDD(),trafficSchema)
traffic_df_explicit.createOrReplaceGlobalTempView('traffic')

schema_for_m = StructType([
        StructField("tid", StringType(), True),
        StructField("dst", StringType(), True),
        StructField("ds", StringType(), True),
        StructField("y", FloatType(), True),
        StructField("yhat", FloatType(), True),
        StructField("yhat_lower", FloatType(), True),
        StructField("yhat_upper", FloatType(), True),
    ])
    
list_aux = [] 
cmpt_tram = 0        

response = requests.get('http://192.168.37.142:50005/stream/2019-05-04-12:00:00/2019-05-04-16:00:00', stream=True)
i = 0
for data in response.iter_lines():
    i = i + 1  
    ligne = data.decode("UTF-8").split(",")
    list_aux.append(ligne)
    
    #Pour l'avion et le radar considere
    if('DSO05LM' in ligne[2] and '01:00:5e:50:01:42' in ligne[4]):
        
        rdd_traffic = sc.parallelize(list_aux)
        rdd_traffic_clean = main_clean(rdd_traffic)
        main_db(rdd_traffic_clean) 
        
        cmpt_tram += 1 
        list_aux = []
       
        #envoie de la prédiction toutes les 5 trams
        if(cmpt_tram==5):
            
            #faire la prédiction sur la variable de son choix 
            pred(var='CGS')
            pred(var='CHDG')
            pred(var='FL')
         
            #Réinitialisation du compteur
            cmpt_tram=0
            
        #Envoie de y
        #clean et envoi de la ligne à la volée
        
        tid, dst, ds, src, cat = ligne[2], ligne[4], str(float(round(float(ligne[3])))), ligne[0], int(ligne[1])   
        sac, sic, toD, tn, theta = float(ligne[5]), float(ligne[6]), ligne[7], float(ligne[8]), float(ligne[9])
        rho, FL, CGS, CHdg = float(ligne[10]), float(ligne[11]), float(ligne[12]), float(ligne[13])
        yhat, yhat_lower, yhat_upper = None, None, None 
        
        insert_table('CHDG', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=CHdg, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        insert_table('CGS', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=CGS, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        insert_table('FL', connect(database_name='activus'), tid=tid, dst=dst, ds=ds , y=FL, yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
        
        insert_table_fields('FIELDS', connect(database_name='activus'), tid=tid, dst=dst, ds=ds, src=src, cat=cat, sac=sac, 
                            sic=sic, tod=toD, tn=tn, theta=theta, rho=rho, fl=FL, cgs=CGS, chdg=chdg)
        
        disconnect('activus')

In [ ]:
# -> nombre d'avions qui volent en temps réel

traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit[var].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\

In [ ]:
# -> nombre d'avions qui volent en temps réel (sur une plage de temps de 10 secondes) 
#prenant en compte le TS du packet courant moins 10

TS_AUX = 1.556976278E9
float(TS_AUX - 10)

#print('select distinct(TS) from global_temp.traffic WHERE TS > ' + str(TS_AUX - 10) + ' ORDER BY TS DESC')

#spark.sql('select distinct(TS) from global_temp.traffic WHERE TS >' + '\' 1556976268.0 ORDER BY TS DESC").show()

spark.sql('select * from global_temp.traffic WHERE TS > ' 
          + str(TS_AUX - 60) + ' ORDER BY TS DESC').count()

In [ ]:
'''
def info_sup_traffic(ts_courant):
   # -> nombre d'avions qui volent en temps réel

  print('nombre avions courants : ' + str(spark.sql('select TID from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' 
                                    + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS > ' 
          + str(float(ts_courant) - 10) + ' ORDER BY TS DESC').distinct().count()))

   # -> nombre de radars qui sont en train de les visualiser 

  print('nombre radars courants : ' + str(spark.sql('select DST from global_temp.traffic WHERE LTRIM(RTRIM(TID)) NOT LIKE' + '\'' + '\' ' + 'AND TS IS NOT NULL AND TS > ' 
          + str(TS_AUX - 10) + ' ORDER BY TS DESC').distinct().count()))
    
   # -> nombre de paquets reçus par minute 

  print('nombre de paquets reçus par minute : ' + str(spark.sql('select * from global_temp.traffic WHERE TS > ' 
          + str(TS_AUX - 60) + ' ORDER BY TS DESC').count()))
          
'''

In [ ]:
info_sup_traffic('1556976278.58')

In [ ]:
'''
spark = pyspark.sql.SparkSession.builder.appName("Spark-Dataframe-SQL").getOrCreate()

trafficSchema = StructType ( [StructField("SRC", StringType(), True),
                                 StructField("CAT", LongType(), True),
                                 StructField("TID", StringType(), True),
                                 StructField("TS", DoubleType(), True),
                                 StructField("DST", StringType(), True),
                                 StructField("SAC", DoubleType(), True),
                                 StructField("SIC", DoubleType(), True),
                                 StructField("ToD", DoubleType(), True),
                                 StructField("TN", DoubleType(), True),
                                 StructField("THETA", DoubleType(), True),
                                 StructField("RHO", DoubleType(), True),
                                 StructField("FL", DoubleType(), True),
                                 StructField("CGS", DoubleType(), True),
                                 StructField("CHdg", DoubleType(), True),
                             ] )
    
traffic_df_explicit = spark.createDataFrame(spark.sparkContext.emptyRDD(),trafficSchema)
traffic_df_explicit.createOrReplaceGlobalTempView('traffic')

schema_for_m = StructType([
        StructField("tid", StringType(), True),
        StructField("dst", StringType(), True),
        StructField("ds", StringType(), True),
        StructField("y", FloatType(), True),
        StructField("yhat", FloatType(), True),
        StructField("yhat_lower", FloatType(), True),
        StructField("yhat_upper", FloatType(), True),
    ])
    
list_aux = [] 
cmpt_tram = 0        

response = requests.get('http://192.168.37.142:50005/stream/2019-05-04-12:00:00/2019-05-04-16:00:00', stream=True)
#type(response)

#Faire la même chose pour chdg et fl 
#create_table(table_name="cgs", parameters="tid STRING, dst STRING, \
#             ds STRING, y FLOAT, yhat FLOAT, yhat_lower FLOAT, yhat_upper FLOAT", database_name="activus"):

i = 0

for data in response.iter_lines():
    #print(data.decode("UTF-8"))  
    #print(str(data)[1:])
    i = i + 1
    #print(i)
    #print([data.decode("UTF-8").split(",")]) 
    #print(data.decode("UTF-8").split(","))
    
    ligne = data.decode("UTF-8").split(",")
    list_aux.append(ligne)
    
      
    #prédire lorsque j'ai 5 nouveaux paquets pour un avion considere et un radar considere 
    #-> prediction 
    #ligne[2] : TID
    #ligne[4] : DST
    
    #Pour l'avion et le radar considere
    if('DSO05LM' in ligne[2] and '01:00:5e:50:01:42' in ligne[4]):
        #compteur pour le nombre de tram   
        #print(ligne)
        
        #print(compt_tram)
        
        rdd_traffic = sc.parallelize(list_aux)
        rdd_traffic_clean = main_clean(rdd_traffic)
        
        #print(rdd_traffic_clean.collect())
        main_db(rdd_traffic_clean) 
        
        #faire un show pour un envoi en temps réel à la base de données sql
        
        cmpt_tram += 1 
        list_aux = []     
        
    #time series 
       
        #envoie de la prédiction toutes les 5 trams
        if(cmpt_tram==5):
            
            #faire la prédiction sur la variable de son choix 
            #pred(traffic_df_explicit, var='CGS')
            #pred(traffic_df_explicit, var='CHdg')
            #pred(traffic_df_explicit, var='FL')
            
            #pred(spark, traffic_df_explicit, schema_for_m)
            
            #pred(var='CGS')
            #pred(var='CHdg')
            #pred(var='FL')
         
            traffic_for_m = traffic_df_explicit.select(
                     traffic_df_explicit['TID'],
                     traffic_df_explicit['DST'],                    
                     traffic_df_explicit['TS'].cast(IntegerType()).alias('ds'), 
                     traffic_df_explicit['CGS'].alias('y'))\
                   .filter("TID like '%DSO05LM%' and DST like '%01:00:5e:50:01:42%'")\
                   .groupBy('TID', 'DST')\
                   .agg(collect_list(struct('ds', 'y')).alias('data'))\
                   .rdd.map(lambda r: transform_data_m(r))\
                       .map(lambda d: partition_data_m(d))\
                       .filter(lambda d: len(d['train_data']) > 2)\
                       .map(lambda d: create_model_m(d))\
                       .map(lambda d: train_model_m(d))\
                       .map(lambda d: make_forecast_m(d))\
                       .map(lambda d: reduce_data_scope_m(d))\
                       .flatMap(lambda d: expand_predictions_m(d))\
        
            traffic_for_m.cache()
        
            df_for_m = spark.createDataFrame(traffic_for_m, schema_for_m)
            
            #thread
            
            #TH = Thread(target = forecast_from_spark, args=(df_for_m,))
            #TH.start()
            
            #TH = Thread(target = forecast_from_spark)
            
                     
            #pas de show mais un filter sur les y == NAN pour n'envoyer que les forecast pour ces valeurs mais pas les 
            #anciennes
            df_for_m.show()
            #envoie de y et de la prédiction 
            #pour chaque ligne du df 
                #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)           
            ###
            
            #Réinitialisation du compteur
            cmpt_tram=0
            
        #Envoie de y
        #clean et envoi de la ligne à la volée
        tid = ligne[2]
        dst = ligne[4]
        ds = float(round(float(ligne[3])))
        FL = float(ligne[11])
        CGS = float(ligne[12])
        CHdg = float(ligne[13])
        yhat = None 
        yhat_lower = None
        yhat_upper = None
        
        #d = {'tid': [tid], 'dst': [dst], 'ds': [ds], 'y': [y], 'yhat': [yhat], 
        #     'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}
        
            #spark.createDataFrame(traffic_for_m, schema_for_m).show()
        
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'FL': [FL], 'yhat': [yhat], 
             'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CGS': [CGS], 'yhat': [yhat], 
             'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        print(pd.DataFrame(data={'tid': [tid], 'dst': [dst], 'ds': [ds], 'CHdg': [CHdg], 'yhat': [yhat], 
             'yhat_lower': [yhat_lower], 'yhat_upper': [yhat_upper]}))
        
            #insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper)
            
    
    if(not(i%1000)):
        print(i)
        
    if (i==100000): break 
'''

## Connection to DB

In [ ]:
from time import sleep
import requests
import mysql.connector as mconn

In [ ]:
def create_database(database_name="activus"):
    '''
    create a database using: CREATE DATABASE database_name;
    select a database using: USE database_name '''
    conn = mconn.connect(host="192.168.37.86", port=3306, user="root", password="secret")
    cur = conn.cursor()
    cur.execute("CREATE DATABASE %s;"%(database_name))
    conn.commit()
    conn.close()

def show_available_databases():
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty")
    cur = conn.cursor()
    cur.execute("SHOW DATABASES;")
    databases = cur.fetchall()
    for database in databases:
        print(database)
    conn.close()

def create_table(table_name="tableX", parameters="x INT, y FLOAT", database_name="activus"):
    conn = mconn.connect(host="localhost", port=3306, user="root", password="secret", database=database_name)
    cur = conn.cursor()
    n = cur.execute("CREATE TABLE IF NOT EXISTS %s (%s);"%(table_name, parameters))
    print(n)
    conn.commit()
    conn.close()

def show_available_tables(database_name='activus'):
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name)
    cur = conn.cursor()
    tables = cur.execute("SHOW TABLES FROM %s;" % (database_name))
    #tables = cur.execute("SHOW TABLES")
    print(tables)
    if not tables: return  
    for table in tables:
        print(table)
    conn.close()

def drop_table(table_name="tabl1", database_name="test"):
    conn = mconn.connect(host="localhost", port=3306, user="root", password="secret", database=database_name)
    cur = conn.cursor()
    cur.execute("DROP TABLE %s;"%(table_name))
    conn.commit()
    conn.close()

def draft_populate(table_name="tableX", database_name="test"):
    conn = mconn.connect(host="localhost", port=3306, user="root", password="secret", database=database_name)
    cur = conn.cursor()
    datas = requests.get(url="http://192.168.37.142:50005/stream/2019-05-04-00:00:00/2019-05-04-06:00:00", stream=True)
    tsOld=0
    n=0
    # ts = 2020-01-02 23!12:32
    for line in datas.iter_lines():
        src, cat, tid, ts, dst, sac, sic, tod, tn, theta, rho, fl, cgs, chdg = line.split(",")
        ts = Integer.par(ts)
        #t = datetime.strptime(ts,"%Y-%m-%d %H:%M:%S")
        if ts-tsOld>5:
            tsOld=ts
            n=0
        n+=1
        cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s);"%(table_name,(t-datetime(1970,1,1)).total_seconds(), float(y), float(yhat_lower), float(yhat_upper)))
        conn.commit()
        sleep(2)
    conn.close()
    
def connect(database_name):
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name)
    return conn

parameters="tid STRING, dst STRING, \
#             ds STRING, y FLOAT, yhat FLOAT, yhat_lower FLOAT, yhat_upper FLOAT"
    
def query_from_table(table_name="tabl1", database_name="test"):
    conn = mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name)
    cur = conn.cursor()
    cur.execute("SELECT * FROM %s;"%(table_name))
    rows = cur.fetchall()
    conn.close()
    for row in rows:
        print(row)
        
def insert_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper):
    cur = conn.cursor()
    #print("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
    cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, '\'' + str(tid) + '\'', '\'' + str(dst) + '\'', '\'' + str(ds) + '\'', y, yhat, yhat_lower, yhat_upper))
    #cur.execute("INSERT INTO %s VALUES (%s, %s, %s, %s, %s, %s, %s);"%(table_name, tid, dst, ds, float(y), float(yhat), float(yhat_lower), float(yhat_upper)))
    conn.commit()
    
def update_table(table_name, conn, tid, dst, ds, y, yhat, yhat_lower, yhat_upper):
    cur = conn.cursor()
    cur.execute("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower)
        + " WHERE (DS = " + str(ds) + " OR DS = " + str(ds - 1) + 
        " OR DS = " + str(ds + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        str(tid) + "AND LTRIM(RTRIM(DST)) LIKE " + str(dst) + ";")   
    conn.commit()
    
def disconnect(database_name):
    mconn.connect(host="192.168.37.86", port=3306, user="azerty", password="azerty", database=database_name).close()

#create_database()
#show_available_databases()
# create_table(table_name="planes_trend", parameters="ts TIMESTAMP, number_of_planes INT")
#show_available_tables()
#show_available_tables()
#draft_populate()



query_from_table(table_name = 'CHDG', database_name='activus')
# drop_table()

#show_available_databases()

#insert_table('CHDG', connect(database_name='activus'), tid='yolo', dst='yolo', ds='yolo', y=0, yhat=0, yhat_lower=0, yhat_upper=0)

#insert_table('CHDG', connect(database_name='activus'), tid='yolo', dst='yolo', ds='yolo', y='NULL', yhat='NULL', yhat_lower='NULL', yhat_upper='NULL')
#disconnect('activus')
#connect(database_name)
#conn.close()

In [ ]:
#UPDATE CGS
#SET yhat = 0, yhat_lower = 0, yhat_upper = 0
#WHERE (DS = 1556976215 OR DS = 1556976215 - 1 OR DS = 1556976215 + 1)  AND y IS NULL 

DS_AUX = 1556976215
table_name = "CGS"
yhat = 0.0
yhat_lower = 0.0
yhat_upper = 0.0 
TID_AUX = '\'%' + 'DSO05LM '.lstrip().rstrip() + '%\'' 
DST_AUX = '\'%' + '01:00:5e:50:01:42'.lstrip().rstrip() + '%\'' 
    
print("UPDATE " + str(table_name) + " SET yhat = " + str(yhat) + ", yhat_lower = " + str(yhat_lower) + 
      ", yhat_upper =  " + str(yhat_lower)
        + " WHERE (DS = " + str(DS_AUX) + " OR DS = " + str(DS_AUX - 1) + 
        " OR DS = " + str(DS_AUX + 1) + ") AND y is NULL AND LTRIM(RTRIM(TID)) LIKE " + 
        str(TID_AUX) + "AND LTRIM(RTRIM(DST)) LIKE " + str(DST_AUX) + ";")